extends ../layout.pug

block includes
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js", defer)
    script(src='assets/jquery.touchSwipe.min.js', defer)
    link(rel="stylesheet", href="assets/animate.min.css")
    link(rel='stylesheet', href='css/erpAll/style.css')
    script(src='js/erpAll.min.js', defer)

block content
    include erp-all.html