extends ../layout.pug

block includes
    link(rel="preload", href="images/semiconductorBT/header-bg.jpg", as="image")
    link(rel='stylesheet', href='css/semiconductorBT/style.css')
    script(src='js/semiconductorBT.min.js', defer)

block content
    include semiconductorBT.html