extends ../layout.pug

block includes
    link(rel="preload", href="images/semiconductorMF/bannerbg.jpg", as="image")
    link(rel="preload", href="images/semiconductorMF/m-bannerbg.jpg", as="image")
    link(rel='stylesheet', href='css/semiconductorMF/style.css')
    script(src='js/semiconductorMF.min.js', defer)

block content
    include semiconductorMF.html