extends ../layout.pug

block includes
    link(rel="stylesheet", href="assets/imagehover.min.css")
    link(rel="stylesheet", href="css/1902_index.css")
    script(src="js/1902_index.min.js", defer)

block content
    include 1902_index.html