extends ../layout.pug

block includes
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="preload", href="images/1903_index/header-bg.jpg", as="image")
    link(rel="preload", href="images/1903_index/header-bg-s.jpg", as="image")
    link(rel="preload", href="images/logo-beta.png", as="image")
    link(rel="preload", href="images/logo-s-beta.png", as="image")
    link(rel="preload", href="images/email-sub.png", as="image")
    link(rel="preload", href="images/email-sub-s-beta.png", as="image")
    link(rel="preload", href="images/line-sub.png", as="image")
    link(rel="preload", href="images/line-sub-s-beta.png", as="image")
    link(rel="preload", href="images/top-bg.jpg", as="image")
    link(rel="preload", href="images/top-bg-s.jpg", as="image")
    link(rel='stylesheet', href='css/1903_index/style.css')
    script(src='js/1903_index.min.js', defer)

block content
    include 1903_index.html