main .subLinks {
    $breakpoint: 900px;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    width: 214px;
    transform: translateY(-50%);
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $content-width - 1) {
        right: 20px;
    }
    @media (max-width: $breakpoint) {
        width: 340px;
    }
    @media (max-width: $tablet-width) {
        position: static;
        transform: none;
    }
    &-title {
        margin-bottom: 8px;
        width: 100%;
        color: #434343;
        text-align: center;
        font-size: 16px;
        line-height: 1;
        @media (max-width: $breakpoint) {
            display: none;
        }
    }
}