main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB00278301_solution {
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_solution.jpg") no-repeat center center fixed;
}
main.WB00278301_solution .section {
  color: #fff;
  }
main.WB00278301_solution .section h2 {
  color: #ffff00;
  text-align: left;
}
main.WB00278301_solution .section .sectionNote {
  padding: 0 0;
  text-align: justify;
}
main.WB00278301_solution .section a {
  color: #fff;
}
main.WB00278301_solution .section ul {
  margin-top: 60px;
}
main.WB00278301_solution .section li {
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
main.WB00278301_solution .section li .imgStyle {
  background-color: #00c2eb;
  border-radius: 100%;
  margin-bottom: 15px;
}
main.WB00278301_solution #MES {
  background-color: rgba(0, 192, 209, 0.5);
}
main.WB00278301_solution #MES li .imgStyle {
  background-color: #00c0d1;
}
main.WB00278301_solution #SFT {
  padding-bottom: 120px;
}
main.WB00278301_solution #SFT li .imgStyle {
  background-color: #00a8ff;
}
main.WB00278301_solution #APS li:hover .imgStyle,
main.WB00278301_solution #MES li:hover .imgStyle,
main.WB00278301_solution #SFT li:hover .imgStyle {
  background-color: #005d81;
}
main.WB00278301_solution #APS li:hover h3,
main.WB00278301_solution #MES li:hover h3,
main.WB00278301_solution #SFT li:hover h3 {
  color: #ffff00;
}