main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB00278301_order {
  /* ==================== common style ==================== */
}
main.WB00278301_order #pageTitle {
  padding: 0;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/order/bg_order.jpg") no-repeat center center;
}
main.WB00278301_order #pageTitle h1 {
  line-height: 0;
}
main.WB00278301_order #order {
  overflow: hidden;
  position: relative;
  padding: 0;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/order/bg_action.jpg") no-repeat center center;
}
main.WB00278301_order #order.section {
  min-width: 1366px;
}
main.WB00278301_order #order.section .beforeBlock,
main.WB00278301_order #order.section .afterBlock {
  float: left;
  position: relative;
  z-index: 5;
  width: 50%;
  height: 912px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
main.WB00278301_order #order.section .orderTxt {
  width: 683px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
main.WB00278301_order #order.section .orderTxt h2 {
  position: relative;
  z-index: 2;
  height: 138px;
  padding-right: 20px;
  padding-top: 20px;
  color: #00c2eb;
  font-family: Arial;
  font-weight: bold;
  text-align: right;
}
main.WB00278301_order #order.section .orderTxt h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  border-top: 118px solid #005d81;
  border-left: 287px solid transparent;
}
main.WB00278301_order #order.section .orderTxt h3 {
  position: relative;
  z-index: 5;
  margin-top: -110px;
  font-size: 36px;
  color: #ffff00;
  text-align: center;
}
main.WB00278301_order #order.section .orderTxt h4 {
  position: relative;
  z-index: 5;
  font-size: 22px;
  text-align: center;
}
main.WB00278301_order #order.section .orderTxt .sectionNote {
  margin-top: 30px;
  padding: 0 90px 0 0;
}
main.WB00278301_order #order.section .beforeBlock {
  background-color: #0194aa;
}
main.WB00278301_order #order.section .beforeBlock .orderTxt {
  float: right;
  padding-left: 27px;
}
main.WB00278301_order #order.section .beforeBlock h2:before {
  right: 0;
}
main.WB00278301_order #order.section .afterBlock {
  float: right;
  background-color: #00c0d1;
}
main.WB00278301_order #order.section .afterBlock .orderTxt {
  padding-left: 90px;
}
main.WB00278301_order #order.section .afterBlock h2 {
  margin-left: -90px;
  padding-left: 20px;
  text-align: left;
}
main.WB00278301_order #order.section .afterBlock h2:before {
  left: 0;
  border-top: 118px solid #006f9b;
  border-left: none;
  border-right: 287px solid transparent;
}
main.WB00278301_order #order.section .afterBlock h3,
main.WB00278301_order #order.section .afterBlock h4 {
  margin-left: -90px;
}
main.WB00278301_order #order.section .afterBlock .sectionNote {
  padding: 0 30px 0 0;
}
main.WB00278301_order #order.section .btn-action {
  overflow: hidden;
  width: 180px;
  height: 230px;
  position: absolute;
  z-index: 10;
  top: 210px;
  left: 50%;
  margin-left: -90px;
  text-align: center;
  cursor: pointer;
}
main.WB00278301_order #order.section .btn-action:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  margin-left: -25px;
  border-right: 115px solid #00384e;
  border-top: 115px solid transparent;
  border-bottom: 115px solid transparent;
}
main.WB00278301_order #order.section .btn-action:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  margin-right: -25px;
  border-left: 115px solid #00384e;
  border-top: 115px solid transparent;
  border-bottom: 115px solid transparent;
}
main.WB00278301_order #order.section .btn-action.actived, main.WB00278301_order #order.section .btn-action.moveOut {
  width: 230px;
  margin-left: -115px;
}
main.WB00278301_order #order.section .btn-action.actived:before, main.WB00278301_order #order.section .btn-action.moveOut:before {
  margin-left: 0;
  border-right-color: #005d81;
}
main.WB00278301_order #order.section .btn-action.actived:after, main.WB00278301_order #order.section .btn-action.moveOut:after {
  margin-right: 0;
  border-left-color: #005d81;
}
main.WB00278301_order #order.section .btn-action h2 {
  margin-top: 60px;
  margin-bottom: 0;
  color: #ffff00;
  font-family: Arial;
  font-weight: bold;
}
main.WB00278301_order #order.section .btn-action .sectionNote {
  margin-bottom: 5px;
  padding: 0;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
main.WB00278301_order #order.section .btn-action .icon-click {
  width: 48px;
  height: 46px;
  margin: 0 auto;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/order/icon_click.png") no-repeat center bottom;
}
main.WB00278301_order #order.section .action {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  margin-left: -500px;
  color: #fff;
}
main.WB00278301_order #order.section .action h2 {
  position: relative;
  z-index: 2;
  height: 100px;
  padding-right: 20px;
  padding-top: 20px;
  color: #00c2eb;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
}
main.WB00278301_order #order.section .action h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  border-top: 100px solid #00384e;
  border-right: 287px solid transparent;
}
main.WB00278301_order #order.section .action h2:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -50px;
  border-top: 100px solid #00384e;
  border-left: 50px solid transparent;
}
main.WB00278301_order #order.section .action h3 {
  position: relative;
  z-index: 3;
  margin-top: -50px;
  padding-left: 110px;
  color: #ffff00;
  font-size: 30px;
  font-weight: normal;
}
main.WB00278301_order #order.section .action .part01 {
  margin: 30px 0 50px;
}
main.WB00278301_order #order.section .action .part01 .floatLeft {
  width: 650px;
}
main.WB00278301_order #order.section .action .part01 .part01-1 > p {
  width: 500px;
}
main.WB00278301_order #order.section .action .part01 .part01-2 {
  position: relative;
  padding-left: 50px;
  margin-top: 40px;
}
main.WB00278301_order #order.section .action .part01 .part01-2:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 32px;
  height: 32px;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/icon_quote_blue.png") no-repeat left top;
}
main.WB00278301_order #order.section .action .part01 .part01-2:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -32px;
  width: 32px;
  height: 32px;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/icon_quote_blue.png") no-repeat right top;
}
main.WB00278301_order #order.section .action .part01 .part01-2 h4 {
  font-size: 22px;
  font-weight: normal;
  color: #fde876;
}
main.WB00278301_order #order.section .action .part01 img.floatRight {
  margin-top: 30px;
}
main.WB00278301_order #order.section .action .part02 {
  height: 400px;
  padding-left: 210px;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/order/img_system.png") no-repeat left top;
}
main.WB00278301_order #order.section .action .part02 strong {
  font-size: 20px;
}
main.WB00278301_order #order.section .action .part02 .part02-1 {
  margin-bottom: 42px;
}
main.WB00278301_order #order.section .action .part02 .part02-1 strong {
  color: #58c5f1;
}
main.WB00278301_order #order.section .action .part02 .part02-2 {
  margin-bottom: 42px;
}
main.WB00278301_order #order.section .action .part02 .part02-2 strong {
  color: #50c3c7;
}
main.WB00278301_order #order.section .action .part02 .part02-3 strong {
  color: #f1a01e;
}
main.WB00278301_order #order.section .btn-close {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  background-color: #00384e;
  border-radius: 100%;
  color: #fff;
  font-family: Arial;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
main.WB00278301_order #order.section .btn-close:before {
  content: "close";
  display: inline-block;
  margin-top: 15px;
}
main.WB00278301_order #order.section .btn-close:hover {
  background-color: #f1a01e;
}
main.WB00278301_order #order.section .btn-close:hover:before {
  content: "X";
}