@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB002553_4 {
    /*---------------研討會-----------------------------*/
    /*---------------橘色按鈕-----------------------------*/
}

main.WB002553_4 body {
    font-family: "微軟正黑體", "新細明體", Arial;
    background-color: #FFF;
}

main.WB002553_4 h2 {
    width: 100%;
    font-size: 32px;
    line-height: 32px;
    margin: 30px 0px 10px 0px;
    color: #e94609;
}

main.WB002553_4 h2.DD {
    text-align: left;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00252003_24.jpg) no-repeat left center;
    padding-left: 30px;
}

main.WB002553_4 h3 {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    color: #db9d06;
    margin: 20px 0px 10px 0px;
}

main.WB002553_4 p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
    padding-bottom: 10px;
}

main.WB002553_4 #wrapper6 {
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 50px;
}

main.WB002553_4 #wrapper6 p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
    padding-bottom: 10px;
}

main.WB002553_4 #wrapper6 .txtbox {
    float: left;
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_L {
    float: left;
    width: 225px;
    margin-right: 15px;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_L h5 {
    font-size: 15px;
    line-height: 1.2;
    color: #4b4b4b;
    margin: 5px 0px;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_L img {
    border: 1px solid #CCC;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_R {
    float: right;
    width: 715px;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_R h4 {
    font-size: 20px;
    line-height: 1.6;
    color: #db9d06;
}

main.WB002553_4 #wrapper6 .txtbox .txtbox_R p {
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
}

main.WB002553_4 #wrapper7 {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 60px;
    margin-bottom: 100px;
}

main.WB002553_4 #wrapper7 #txtbox2 {
    width: 718px;
    height: 496px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/Graph1.png);
}

main.WB002553_4 #wrapper7 #txtbox3 {
    width: 718px;
    height: 372px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/Graph2.png);
}

main.WB002553_4 #wrapper7 .txt {
    width: 370px;
    height: 52px;
    padding: 6px;
}

main.WB002553_4 #wrapper7 .txt p {
    font-size: 14px;
    line-height: 1.3;
    color: #555555;
    letter-spacing: 1px;
    padding: 0px 8px;
}

main.WB002553_4 #wrapper7 .txt p.w {
    font-size: 14px;
    line-height: 1.3;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: bold;
}

main.WB002553_4 #wrapper8 {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 450px;
}

main.WB002553_4 #button_O {
    width: 715px;
    text-align: center;
    margin-top: 10px;
}

main.WB002553_4 #button_OC {
    width: 960px;
    text-align: center;
    margin-top: 10px;
    margin-left: 325px;
}

main.WB002553_4 .btn {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 15px;
}

main.WB002553_4 .btn a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg.png) no-repeat left top;
    font-weight: bold;
}

main.WB002553_4 .btn a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-position: right top;
}

main.WB002553_4 .btn1 {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    margin-left: 20px;
}

main.WB002553_4 .btn1 a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg1.png) no-repeat left top;
    font-weight: bold;
}

main.WB002553_4 .btn1 a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-position: right top;
}
