main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB002783 #banner {
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_banner.jpg") no-repeat center top;
}
main.WB002783 #banner h1 {
  padding-bottom: 0px;
}
main.WB002783 #banner.section {
  padding: 0;
}
main.WB002783 #deptScenario {
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_deptScenarior.jpg") no-repeat center center;
  color: #fff;
}
main.WB002783 #deptScenario h2 {
  color: #fff;
}
main.WB002783 #deptTxt {
  position: relative;
  height: 632px;
  margin-top: 55px;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_office.png") no-repeat center top;
}
main.WB002783 #deptTxt .imgStyle {
  position: absolute;
}
main.WB002783 #deptTxt .deptManager {
  top: 28px;
  left: 30px;
}
main.WB002783 #deptTxt .sales {
  top: 207px;
  left: 0px;
}
main.WB002783 #deptTxt .manufacture {
  top: 357px;
  left: 36px;
}
main.WB002783 #deptTxt .finance {
  top: -20px;
  left: 402px;
}
main.WB002783 #deptTxt .purchase {
  top: 110px;
  left: 613px;
}
main.WB002783 #deptTxt .shipping {
  top: 301px;
  left: 652px;
}
main.WB002783 #deptTxt .warehouse {
  top: 488px;
  left: 515px;
}
main.WB002783 #issue {
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_issue.jpg") no-repeat center center;
}
main.WB002783 #issue h2, main.WB002783 #issue .sectionNote {
  text-align: left;
}
main.WB002783 #issue h3 {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
main.WB002783 #issue .sectionNote {
  padding: 0;
}
main.WB002783 #issue .sectionNote:nth-of-type(2) {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
main.WB002783 #issue .imgStyle {
  margin: 10px 0 70px -40px;
}
main.WB002783 #issue .linkPage {
  display: block;
  color: #0092b1;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
}
main.WB002783 #issue .linkPage i {
  width: 16px;
  height: 16px;
  background-color: #0092b1;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
main.WB002783 #issue .linkPage:hover {
  color: #ff7000;
}
main.WB002783 #issue .linkPage:hover i {
  background-color: #ff7000;
}
main.WB002783 #factoryManage .floatLeft {
  width: 400px;
}
main.WB002783 #factoryManage .floatLeft h2 {
  text-align: justify;
}
main.WB002783 #factoryManage .floatLeft .linkPage {
  display: block;
  margin-top: 25px;
  color: #0092b1;
  font-weight: bold;
  line-height: 16px;
}
main.WB002783 #factoryManage .floatLeft .linkPage i {
  width: 16px;
  height: 16px;
  background-color: #0092b1;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
main.WB002783 #factoryManage .floatLeft .linkPage:hover {
  color: #ff7000;
}
main.WB002783 #factoryManage .floatLeft .linkPage:hover i {
  background-color: #ff7000;
}
main.WB002783 #factoryManage .floatRight {
  margin-right: -55px;
}
main.WB002783 #otherIndustry {
  padding: 80px 0;
  background-color: #0194aa;
  color: #ffffff;
}
main.WB002783 #otherIndustry .sectionNote {
  text-align: center;
}
main.WB002783 #otherIndustry #industryTxt {
  position: relative;
  margin-top: 40px;
}
main.WB002783 #otherIndustry #industryTxt li {
  overflow: hidden;
  position: relative;
  float: left;
  width: 200px;
  margin: 0 0 35px;
  text-align: center;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/industry.png") no-repeat;
}
main.WB002783 #otherIndustry #industryTxt a {
  color: #fff;
}
main.WB002783 #otherIndustry #industryTxt h4 {
  width: 200px;
  height: 45px;
  margin: 15px 0 0;
  padding-top: 105px;
  font-size: 18px;
  font-weight: normal;
}
main.WB002783 #otherIndustry #industryTxt #ind_01 {
  background-position: 0 0;
}
main.WB002783 #otherIndustry #industryTxt #ind_02 {
  background-position: -200px 0;
}
main.WB002783 #otherIndustry #industryTxt #ind_03 {
  background-position: -400px 0;
}
main.WB002783 #otherIndustry #industryTxt #ind_04 {
  background-position: -600px 0;
}
main.WB002783 #otherIndustry #industryTxt #ind_05 {
  background-position: -800px 0;
}
main.WB002783 #otherIndustry #industryTxt #ind_06 {
  background-position: 0 -250px;
}
main.WB002783 #otherIndustry #industryTxt #ind_07 {
  background-position: -200px -250px;
}
main.WB002783 #otherIndustry #industryTxt #ind_08 {
  background-position: -400px -250px;
}
main.WB002783 #otherIndustry #industryTxt #ind_09 {
  background-position: -600px -250px;
}
main.WB002783 #otherIndustry #industryTxt #ind_10 {
  background-position: -800px -250px;
}
main.WB002783 #otherIndustry #industryTxt #ind_11 {
  background-position: 0 -500px;
}
main.WB002783 #otherIndustry #industryTxt #ind_12 {
  background-position: -200px -500px;
}
main.WB002783 #otherIndustry #industryTxt #ind_13 {
  background-position: -400px -500px;
}
main.WB002783 #otherIndustry #industryTxt #ind_14 {
  background-position: -600px -500px;
}
main.WB002783 #otherIndustry #industryTxt #ind_15 {
  background-position: -800px -500px;
}