/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #region custom */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  word-wrap: break-word; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

body, input, textarea, select, button {
  font-family: Helvetica, Arial, 'Heiti TC', 'Microsoft JhengHei', sans-serif; }

/* #endregion custom */
/* #region function */
/* #endregion function */
/* #region mixin */
/* #endregion mixin */
/* #region extend */
/* #endregion extend */
html.no-mobile .section3-signup:hover {
  background-color: #ff714d; }

.signups {
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .signups {
      flex-direction: column;
      align-items: center; } }

.signup {
  display: block;
  border-radius: 0;
  background-color: #ef064e;
  color: #fff;
  text-align: center;
  line-height: 80px;
  width: 360px;
  margin-top: 55px;
  margin-bottom: 15px;
  letter-spacing: 0.01em;
  font-weight: bold;
  font-size: 36px;
  transition: background-color .2s; }
  .signup:first-child {
    margin-right: 100px; }
    @media (max-width: 768px) {
      .signup:first-child {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 360px;
        width: 100%; } }
  @media (max-width: 768px) {
    .signup:last-child {
      margin-top: 0; } }

.main {
  position: relative;
  min-width: 320px;
  font-size: 18px;
  line-height: 1.6;
  flex-grow: 1; }
  .main-content {
    margin-top: -70px; }
    @media (max-width: 768px) {
      .main-content {
        margin-top: 0; } }

.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px; }
  @media (min-width: 1250px) {
    .container {
      padding-right: 0;
      padding-left: 0; } }
  @media (max-width: 359px) {
    .container {
      padding-right: 10px;
      padding-left: 10px; } }

header {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 35px);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    header {
      height: calc(100vh - 50px); } }
  header .container {
    position: relative;
    height: 100%; }
  header h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 18px;
    padding-left: 18px;
    height: 40px;
    background-color: #272727;
    color: #fff;
    font-size: 14px;
    line-height: 40px; }
    header h1::after {
      position: absolute;
      top: 0;
      right: -32px;
      width: 0;
      height: 0;
      border-width: 40px 32px 0 0;
      border-style: solid;
      border-color: #272727 transparent transparent transparent;
      content: ''; }
    @media (max-width: 359px) {
      header h1 {
        font-size: 12px; } }

.header-illust {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-49%, -45%); }
  @media (max-width: 768px) {
    .header-illust {
      display: none; } }

.nextSection {
  position: fixed;
  bottom: 80px;
  left: 50%;
  width: 79px;
  height: 40px;
  background-image: url("~assets/images/arrow-down.png");
  transform: translateX(-50%) scale(0.7); }
  .nextSection.no-fixed {
    position: absolute;
    bottom: 20px; }

.begin {
  background-image: url("~assets/images/begin-bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  height: 400px; }
  .begin::after {
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 40px 80px 0 80px;
    border-style: solid;
    border-color: #ff714d transparent transparent transparent;
    content: '';
    transform: translateX(-50%); }
  .begin .container {
    display: flex;
    padding-right: 100px;
    height: 100%;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 1200px) {
      .begin .container {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (max-width: 768px) {
      .begin .container {
        justify-content: center; } }
  .begin h1 {
    color: #ffe730;
    font-size: 35px;
    line-height: 1.4; }
  .begin p {
    color: #fff;
    letter-spacing: 0.075em;
    font-size: 20px; }

main {
  background-image: url("~assets/images/main-bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-top: 40px;
  background-size: cover; }
  @media (max-width: 768px) {
    main {
      background-image: url("~assets/images/main-bg-s.jpg"); } }
  main > article {
    padding-top: 30px;
    padding-bottom: 70px; }
    main > article > h1 {
      margin-bottom: 70px; }

.section2-remark {
  margin-top: 74px;
  color: #d0d0d0;
  letter-spacing: 0.025em;
  font-size: 20px; }

.section3-days {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .section3-days {
      flex-direction: column;
      align-items: center; } }
  .section3-days::before, .section3-days::after {
    content: ''; }
@media (max-width: 768px) {
  .section3-day {
    text-align: center; }
    .section3-day:first-of-type {
      margin-bottom: 30px; } }
.section3-desc {
  margin-bottom: 52px;
  color: #ffe730;
  text-align: center;
  letter-spacing: 0.01em;
  line-height: 30px; }
.section3-social {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section3-social a + a {
    margin-left: 35px; }
  .section3-social img {
    display: block; }

.cast {
  height: 100%;
  border-radius: 5px;
  background-color: #ff714d; }
  .cast-slide {
    display: flex;
    padding-right: 13%;
    padding-left: 13%;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .cast-slide {
        padding-top: 2em;
        padding-right: 28px;
        padding-left: 28px;
        align-items: flex-start; } }
  .cast-content {
    display: flex;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    color: #fff;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .cast-content {
        overflow-y: auto;
        height: calc(100% - 60px); } }
  .cast-col:first-of-type {
    margin-right: 25px;
    width: 245px;
    flex-shrink: 0; }
    @media (max-width: 768px) {
      .cast-col:first-of-type {
        display: none;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        text-align: center; } }
    .cast-col:first-of-type img {
      display: block;
      margin: 0 auto; }
  .cast-col:last-of-type {
    width: calc(100% - 270px); }
    @media (max-width: 768px) {
      .cast-col:last-of-type {
        width: 100%; } }
  .cast-name, .cast-position {
    color: #2d2b6e;
    letter-spacing: 0.01em; }
  .cast-name {
    font-weight: bold;
    font-size: 36px;
    line-height: 1; }
    @media (max-width: 768px) {
      .cast-name {
        text-align: center; } }
  .cast-position {
    margin-bottom: .8em;
    font-size: 20px;
    line-height: 32px; }
    @media (max-width: 768px) {
      .cast-position {
        margin-bottom: .5em;
        text-align: center; } }
  .cast-desc {
    color: #fff;
    text-align: justify;
    font-size: 18px;
    line-height: 26px; }
  .cast-button {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%); }
    .cast-button:focus {
      outline: none; }
    @media (max-width: 768px) {
      .cast-button {
        display: none; } }
  .cast-button-prev {
    left: 20px;
    width: 37px;
    height: 71px;
    background-image: url("~assets/images/popup-arrow-l.png"); }
  .cast-button-next {
    right: 20px;
    width: 37px;
    height: 71px;
    background-image: url("~assets/images/popup-arrow-r.png"); }
  .cast-pagination {
    position: absolute;
    bottom: 35px !important;
    z-index: 1;
    display: flex;
    justify-content: center; }
    .cast-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #000;
      opacity: .2;
      cursor: pointer; }
      .cast-pagination-bullet:not(:last-of-type) {
        margin-right: 14px; }
      .cast-pagination-bullet-active {
        background-color: #fff;
        opacity: 1; }

.ad a {
  display: block; }

@media (max-width: 768px) {
  #dgwFooter {
    margin-bottom: 70px; } }
