<slider-banner-s v-if="isMobile" v-bind:slides="result.banner" device="mobile"></slider-banner-s>
<slider-banner v-else v-bind:slides="result.banner" device="desktop"></slider-banner>

<article class="section1">
    <div class="container">
        <div class="title">
            <img src="images/WB00278501/section1-logo.png" alt="" class="logo">
            <section-title
                title="無論是身處醫材產業的您，<br>或是即將進入醫材產業的電子業與機械業，<br>完成ISO13485、GMP、GDP認證已經是基本門鑑"
                padding-top="0px"
            ></section-title>
        </div>
        <div class="sections">
            <section v-for="section in result.section1" :key="section.title">
                <h1 v-html="section.title"></h1>
                <p v-html="section.content"></p>
                <p>{{section.source}}</p>
            </section>
        </div>
    </div>
</article>

<contact v-bind:multiple="false" source=""></contact>