extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00278501_service/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='WB00278501_service.css')

block content
    include WB00278501_service.html