<slider-banner-s v-if="isMobile" v-bind:slides="result.banner" device="mobile"></slider-banner-s>
<slider-banner v-else v-bind:slides="result.banner" device="desktop"></slider-banner>

<article class="section1">
    <div class="container">
        <section-title title="電腦化確效管理程序" class="green"></section-title>
        <picture>
            <source srcset="images/WB00278501_verify/section1-illust.png" media="(min-width:769px)">
            <img src="images/WB00278501_verify/section1-illust-s.png" alt="">
        </picture>
    </div>
</article>

<article class="section2">
    <div class="container">
        <section-title title="需確效之電腦化系統" class="white"></section-title>
        <picture>
            <source srcset="images/WB00278501_verify/section2-illust.png" media="(min-width:769px)">
            <img src="images/WB00278501_verify/section2-illust-s.png" alt="">
        </picture>
    </div>
</article>

<article class="section3">
    <div class="container">
        <section-title title="電腦確效模式" class="green"></section-title>
        <img src="images/WB00278501_verify/section3-illust.png" alt="">
    </div>
</article>

<contact v-bind:multiple="false" source=""></contact>