<slider-banner-s v-if="isMobile" v-bind:slides="result.banner" device="mobile"></slider-banner-s>
<slider-banner v-else v-bind:slides="result.banner" device="desktop"></slider-banner>

<article class="section1">
    <div class="container">
        <img src="images/WB00278501/section1-logo.png" alt="" class="logo">
        <section-title
            title="無論是身處醫材產業的您，或是即將進入醫材產業的電子業與機械業，完成ISO13485、GMP、GDP認證已經是基本門鑑"
            :padding-top="0"
        ></section-title>
        <section v-for="n in 5">
            <h1>亞果生醫<br>以研究創新拉高產品價值</h1>
            <p>近期在生醫級膠原蛋白材料有不錯發展及重要成果展現的亞果生醫，繼通過國際<strong>ISO13485</strong>醫療器材品質系統認證以及衛福部食藥署醫療器材GMP...</p>
            <p>2016/10/27 中時電子報</p>
        </section>
    </div>
</article>

<contact v-bind:multiple="false" source=""></contact>