extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00278501_seminar/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00278501_seminar/style.css')
    script(src='js/WB00278501_seminar.min.js', defer)

block content
    include WB00278501_seminar.html