<slider-banner-s v-if="isMobile" v-bind:slides="result.banner" device="mobile"></slider-banner-s>
<slider-banner v-else v-bind:slides="result.banner" device="desktop"></slider-banner>

<article class="section1">
    <div class="container">
        <div class="title">
            <img src="images/WB00278501/section1-logo.png" alt="" class="logo">
            <section-title
                title="無論是身處醫材產業的您，<br>或是即將進入醫材產業的電子業與機械業，<br>完成ISO13485、GMP、GDP認證已經是基本門鑑"
                padding-top="0px"
            ></section-title>
        </div>
        <div class="sections">
            <section v-for="section in result.section1" :key="section.title">
                <h1 v-html="section.title"></h1>
                <p v-html="section.content"></p>
                <p>{{section.source}}</p>
            </section>
        </div>
    </div>
</article>

<article class="section2">
    <div class="container">
        <section-title title="ISO13485:2016版已於2016年2月25日出版<br>轉版內容與內部作業程序規劃建議如下"></section-title>
        <picture>
            <source srcset="images/WB00278501/section2-illust.png" media="(min-width:769px)">
            <img src="images/WB00278501/section2-illust-s.png" alt="">
        </picture>
    </div>
</article>

<article class="section3">
    <div class="container">
        <section-title title="ISO 13485 :2016重點簡介與轉版時機新舊版條款差異"></section-title>
        <a href="#contact" class="nav js-nav">立即索取相關資訊！</a>
        <p>申請ISO 13485 :2016<br>研發、品管、生管...各部門之間如何運作?</p>
        <div class="section3__dept">
            <a href="WB00278501_research.html">研發</a>
            <a href="WB00278501_control.html">品管</a>
            <a href="WB00278501_produce.html">生管</a>
            <a href="WB00278501_service.html">維修</a>
        </div>
    </div>
</article>

<contact v-bind:multiple="false" source=""></contact>