extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00278501_research/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00278501_research/style.css')
    script(src='assets/jquery-ui-1.12.1.custom/jquery-ui.min.js', defer)
    script(src='js/WB00278501_research.min.js', defer)

block content
    include WB00278501_research.html