extends ../layout.pug

block vars
    - var description = ' AI Thinking大師周忠信教授親自帶領企業走進AI思維世界，從課前到課後親身體驗，一日即能引進、掌握、建立到擁有企業AI思維！'
    - var keywords = ' AI Thinking大師周忠信教授親自帶領企業走進AI思維世界，從課前到課後親身體驗，一日即能引進、掌握、建立到擁有企業AI思維！'
    - var title = 'AI思維企業智慧轉型 - 鼎新電腦'

append head
    link(rel='stylesheet', href=`css/WB00287904.css?${Math.random()}`)
    script(src=`js/WB00287904.min.js?${Math.random()}`, defer)

block main
    include WB00287904.html