/*資料索取與諮詢*/
input[type=checkbox] {
	-webkit-appearance: checkbox;
}

.form #contactInput input,
.form .demandCheck,
.form #contact-query {
	border-left-color: #fff;
}

.demandCheck .demandGroup p {
	float: left;
	width: 14%;
	padding-left: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
}

.demandGroup .demandGroupList {
	float: left;
	width: 86%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.demandGroup.even {
	margin-top: 15px;
}

#thxContent h3 {
	color: #fff;
}