@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}

main.WB00267501_14 {
  /*problems style*/
  /*跨足不同銷售通路領域*/
  /*訂單少只是不賺錢*/
  /*多通路銷售的管理*/
  /*電子發票*/
}
main.WB00267501_14 body, main.WB00267501_14 html {
  /*height: 100%;*/
  /*overflow: hidden;*/
  width: 100%;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  background-image: url();
}
main.WB00267501_14 .section {
  width: 100%;
  background: #fff;
  font-size: 0;
  text-align: center;
  font-size: 0;
  position: relative;
}
main.WB00267501_14 .section1 {
  position: relative;
}
main.WB00267501_14 h2 {
  font-size: 26px;
  color: #eb1a4a;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
}
main.WB00267501_14 p {
  color: #333333;
}
main.WB00267501_14 .demand {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1000px;
  padding: 70px 0;
  font-size: 16px;
  line-height: 28px;
}
main.WB00267501_14 .content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
main.WB00267501_14 .highLight {
  color: #eb1a4a;
  font-weight: bold;
}
main.WB00267501_14 .highLight1 {
  color: #25aae1;
  font-size: 32px;
  font-weight: bold;
}
main.WB00267501_14 .imgNote {
  text-align: center;
}
main.WB00267501_14 .left {
  float: left;
  text-align: left;
}
main.WB00267501_14 .right {
  float: right;
}
main.WB00267501_14 .sectionNote {
  padding: 0 30px;
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
}
main.WB00267501_14 #problems {
  padding-bottom: 0;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_bg1.png) no-repeat center bottom;
}
main.WB00267501_14 #problems .chart {
  position: relative;
  height: 495px;
  margin: 25px 0;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_table_bg.png) no-repeat left top;
}
main.WB00267501_14 #problems .chart .left {
  position: absolute;
  z-index: 5;
  top: 22px;
  left: 0;
  width: 420px;
  margin: 0 0 0 19px;
  padding: 12px 38px 0 50px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_chartDesbg.png) no-repeat left top;
  height: 495px;
}
main.WB00267501_14 #problems .chart .left li {
  margin: 0 0 19px;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}
main.WB00267501_14 #problems .chart .left li.highLight {
  color: #ffff00;
  font-weight: bold;
}
main.WB00267501_14 #problems .chart .right {
  position: absolute;
  z-index: 4;
  top: 22px;
  right: 5px;
  width: 495px;
  margin-top: 7px;
  color: #fff;
  text-align: right;
}
main.WB00267501_14 #problems .chart .right li {
  width: 0;
  height: 50px;
  margin: 0 0 16px;
  background-color: #fc9bb1;
  line-height: 50px;
}
main.WB00267501_14 #problems .chart .right .digital {
  display: none;
  margin-right: 15px;
  font-size: 18px;
}
main.WB00267501_14 #problems .chart .right .problem02,
main.WB00267501_14 #problems .chart .right .problem03 {
  background-color: #ffba00;
}
main.WB00267501_14 #problems .callIn {
  margin-top: 60px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_callin_bg.png) no-repeat center bottom;
}
main.WB00267501_14 #problems .callIn01 {
  margin-left: 270px;
}
main.WB00267501_14 #problems .callIn02 {
  margin: -40px 0 0 20px;
}
main.WB00267501_14 #problems .callIn03 {
  margin: 10px 0 30px 160px;
}
main.WB00267501_14 #demand2 {
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_bg2.jpg) no-repeat center top;
}
main.WB00267501_14 #demand2 ul {
  margin: 0 auto;
  width: 840px;
}
main.WB00267501_14 #demand2 li.A a {
  display: block;
  text-indent: -9999px;
  width: 840px;
  height: 85px;
  margin: 45px 0 7px 0;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand2_1.png) center top;
}
main.WB00267501_14 #demand2 li.B a {
  display: block;
  text-indent: -9999px;
  width: 840px;
  height: 85px;
  margin-bottom: 7px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand2_2.png) center top;
}
main.WB00267501_14 #demand2 li.C a {
  display: block;
  text-indent: -9999px;
  width: 840px;
  height: 85px;
  margin-bottom: 7px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand2_3.png) center top;
}
main.WB00267501_14 #demand2 li.D a {
  display: block;
  text-indent: -9999px;
  width: 840px;
  height: 85px;
  margin-bottom: 7px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand2_4.png) center top;
}
main.WB00267501_14 #demand2 li.E a {
  display: block;
  text-indent: -9999px;
  width: 840px;
  height: 85px;
  margin-bottom: 7px;
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand2_5.png) center top;
}
main.WB00267501_14 #demand2 li a:hover {
  background-position: center bottom;
}
main.WB00267501_14 #demand3 {
  margin: 0 auto;
}
main.WB00267501_14 #demand3 img {
  margin-top: 30px;
}
main.WB00267501_14 #demand4 {
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_bg4.jpg) no-repeat center top;
}
main.WB00267501_14 #demand4 img {
  margin-top: 40px;
}
main.WB00267501_14 #demand5 {
  background: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/demand_bg5.jpg) no-repeat center top;
  height: 330px;
}
main.WB00267501_14 #demand5 .demand5_txt {
  width: 430px;
  margin-left: 100px;
}
main.WB00267501_14 .knowMore {
  display: inline-block;
  width: 400px;
  height: 33px;
  line-height: 33px;
  border: 1px solid #ec1949;
  margin-top: 50px;
  margin-left: 100px;
  color: #ec1949;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}
main.WB00267501_14 .knowMore:hover {
  color: #fff;
  background: #e93030;
}