@import '../common';
@import 'components';

main {
    font-size: 22px;
    line-height: 36px;
    @mixin bigBtn($triangleColor) {
        position: relative;
        display: flex;
        margin: 25px auto 0;
        max-width: 590px;
        height: 70px;
        background-color: #910619;
        color: #fff45c;
        font-weight: bold;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-width: 0 0 70px 23px;
            border-style: solid;
            border-color: transparent transparent $triangleColor transparent;
            content: '';
        }
        i {
            font-size: 1.8em;
        }
    }
    .shareLinks1 {
        padding-top: 24px;
        @media (max-width: $tablet-width) {
            display: none;
        }
        .shareLinks {
            justify-content: flex-end;
        }
    }
    .shareLinks2 {
        padding: 30px 0;
        .shareLinks {
            justify-content: center;
        }
    }
    .section-title {
        position: relative;
        margin-bottom: .5em;
        text-align: center;
        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            height: 4px;
            background-color: #000;
            content: '';
            transform: translateY(-50%);
        }
        span {
            position: relative;
            display: inline-flex;
            padding: 0 15px;
            height: 75px;
            background-color: #000;
            color: #fff;
            letter-spacing: getLetterSpacing(25);
            font-weight: bold;
            font-size: 46px;
            justify-content: center;
            align-items: center;
            @media (max-width: $tablet-width) {
                font-size: 40px;
            }
        }
        strong {
            color: #fff45c;
        }
    }
    .section-subtitle {
        margin-top: .8em;
        margin-bottom: .3em;
        color: #910619;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 1.3;
    }
    .section-desc {
        margin-bottom: 1.5em;
        text-align: center;
        @media (max-width: $tablet-width) {
            font-size: 28px;
            line-height: 42px;
            br {
                display: none;
            }
        }
    }
    .subsection-title {
        display: flex;
        padding: 5px 0;
        min-height: 63px;
        border-width: 3px 2px 2px 2px;
        border-style: solid;
        border-color: #910619;
        color: #910619;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 1.3;
        justify-content: center;
        align-items: center;
        @media (max-width: $tablet-width) {
            font-size: 36px;
        }
    }
    .boxs {
        display: flex;
        justify-content: space-between;
        @media (max-width: $content-width) {
            flex-direction: column;
            align-items: center;
        }
    }

    .header {
        @include headerBg('1903_index/header-bg.jpg', '1903_index/header-bg-s.jpg');
        @media (max-width: $tablet-width) {
            background-size: cover;
        }
        .container {
            align-items: flex-start;
            @media (max-width: $tablet-width) {
                padding-top: 2em;
                padding-bottom: 1.5em;
                justify-content: space-between;
            }
        }
        h2 {
            line-height: 94px;
            @media (max-width: $tablet-width) {
                line-height: 70px;
            }
            mark {
                display: inline-block;
                padding: 0 16px;
                height: 85px;
                background-color: #000;
                color: #fff;
                font-weight: bold;
                font-size: 60px;
                line-height: 85px;
                @media (max-width: $tablet-width) {
                    display: inline;
                    padding-right: 0;
                    padding-left: 0;
                    height: 64px;
                    font-size: 45px;
                    line-height: 64px;
                }
            }
        }
        h3 {
            display: inline-block;
            margin-bottom: .7em;
            border-bottom: 4px solid #fff45c;
            color: #fff45c;
            font-weight: bold;
            font-size: 40px;
            line-height: 1.5;
        }
        p {
            width: 100%;
            color: #fff;
            font-weight: bold;
            @media (max-width: $tablet-width) {
                font-size: 28px;
                line-height: 42px;
                br {
                    display: none;
                }
            }
        }
    }
    & > article {
        padding: 55px 0;
    }
    .section1 {
        padding-top: 17px;
        @media (max-width: $tablet-width) {
            padding-top: 55px;
        }
        .section-title {
            margin-bottom: 50px;
        }
        .hoverBox {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $content-width) {
                & + .hoverBox {
                    margin-top: 15px;
                }
            }
            &-hover {
                padding: 1.5em;
                font-weight: bold;
                font-size: 24px;
                line-height: 38px;
                @media (max-width: $tablet-width) {
                    padding: 1em;
                    font-size: 27px;
                    line-height: 42px;
                }
            }
        }
    }
    .section2 {
        @include bg('1903_index/section2-bg.jpg', 50% 100%);
        padding-bottom: 25px;
        background-color: #fbeeed;
        @media (max-width: $content-width) {
            background-image: none;
        }
        .boxs {
            margin-top: 37px;
            margin-bottom: 57px;
        }
        .hoverBox + .hoverBox {
            @media (max-width: $content-width) {
                margin-top: 15px;
            }
        }
        .hoverBox-hover {
            padding: 2.5em 1.5em;
            p {
                font-weight: bold;
                &:nth-child(1) {
                    margin-bottom: 13px;
                    font-size: 36px;
                    line-height: 1;
                    @media (max-width: $tablet-width) {
                        font-size: 42px;
                    }
                    &::after {
                        display: block;
                        margin-top: 16px;
                        width: 90px;
                        height: 2px;
                        background-color: #fff;
                        content: '';
                    }
                }
                &:nth-child(2) {
                    font-size: 24px;
                    line-height: 38px;
                    @media (max-width: $tablet-width) {
                        font-size: 28px;
                        line-height: 44px;
                    }
                }
            }
        }
        section:last-of-type {
            .content {
                max-width: percentage(800/1200);
                @media (max-width: $content-width) {
                    max-width: none;
                }
            }
            p {
                margin: 1em 0;
                @media (max-width: $content-width) {
                    @include bg('1903_index/section2-bg-s.png', 100% 100%);
                    margin-bottom: 0;
                    padding-bottom: 300px;
                }
                @media (max-width: $tablet-width) {
                    font-size: 28px;
                    line-height: 42px;
                }
                @media (max-width: 604px) {
                    padding-bottom: percentage(300/604);
                    background-size: contain;
                }
            }
            a {
                @include bigBtn(#fbeeed);
                @media (max-width: $tablet-width) {
                    font-size: 24px;
                }
            }
        }
    }
    .section3 {
        background-color: #ebe2e2;
        .section-desc {
            margin: 0 auto 65px;
            max-width: 1000px;
            strong {
                background-image: linear-gradient(transparent 50%, #fff45c 0);
            }
        }
        &-focuses {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: $content-width) {
                margin: 0 auto;
                max-width: 595px;
            }
            @media (max-width: 655px) {
                max-width: 290px;
            }
        }
        .focus {
            @media (max-width: $content-width) {
                @include first(2) {
                    margin-bottom: 48px;
                };
            }
            @media (max-width: 655px) {
                &:nth-child(3) {
                    margin-bottom: 48px;
                }
            }
        }
    }
    .section4 {
        border-bottom: 2px solid #dcdcdc;
        .section-title {
            margin-bottom: 1em;
            span::before {
                @include imgBg('1903_index/digiwinTV.png', true);
                margin-right: 7px;
                content: '';
            }
        }
        &-cols {
            display: flex;
            flex-wrap: wrap;
        }
        &-col {
            &:first-child {
                padding-top: 20px;
                padding-right: 20px;
                width: 440px;
                @media (max-width: $tablet-width) {
                    width: 100%;
                }
            }
            &:last-child {
                width: calc(100% - 440px);
                @media (max-width: $tablet-width) {
                    width: 100%;
                }
                p {
                    font-size: 28px;
                    line-height: 42px;
                }
                a {
                    @include bigBtn(#fff);
                    @media (max-width: 850px) {
                        font-size: 24px;
                    }
                }
            }
        }
        &-illust {
            @include imgBg('1903_index/section4-illust.jpg', false, true);
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            box-shadow: 20px -15px #ecd9d9;
            @media (max-width: $tablet-width) {
                margin: 0 auto 1em;
            }
            @media (max-width: 480px) {
                box-shadow: none;
            }
        }
    }
}