extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00251301_Manufacture/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00251301_Manufacture/style.css')
    script(src='js/WB00251301_Manufacture.min.js', defer)

block content
    include WB00251301_Manufacture.html