@import 'common/variable';
$z-index: map-merge($z-index, (
    section1-cover-title: 1,
    section1-tooltip: 1,
    section4-tabs-title: 1
));

@import 'common/reset';
@import 'common/helpers';
@import 'common/family';
@import 'common/component';

/* #region all */
@mixin triangle() {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    @content;
}

@include mbnav();

// hover
.no-mobile {
    .section4-nav a:hover {
        background-color: #be850a;
        color: #fff;
    }
    .section4-contact:hover {
        background-color: #be850a;
    }
    .section1-switch:hover {
        background-color: #c5830b;
    }
}

html,
body {
    overflow-x: hidden;
}
html {
    background-color: #fff;
}
body {
    min-width: 360px;
}
.container {
    margin: 0 auto;
    max-width: $content-width;
}
.title {
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: rem(36);
    line-height: 50px;
    strong {
        color: #f00;
    }
}
.subtitle {
    margin-top: 22px;
    text-align: center;
    font-size: rem(20);
    line-height: 30px;
}

// section flag
@for $var from 2 through 4 {
    .section#{$var} .container {
        position: relative;
        &::before {
            @include imgBg('07/section#{$var}-flag.png');
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            @media (max-width: $max-width) {
                display: none;
            }
        }
    }
}

@media (max-width: $content-width) {
    .container {
        width: 98%;
    }
}
/* #endregion all */

/* #region section1 */
%ripple {
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        content: '';
        transform: translate(-50%, -50%);
        animation: ripple 2s infinite;
    }
    &::after {
        animation-delay: .5s;
    }
}
/* 水波效果 */
@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        background-color: rgb(0, 172, 162);
    }
    100% {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 172, 162, 0);
    }
}
@keyframes slideInDown {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 70px;
    }
    100% {
        bottom: 50px;
    }
}
@keyframes slideInDown-mb {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 100px;
    }
    100% {
        bottom: 80px;
    }
}
@keyframes slideInDown-mb-nofixed {
    0% {
        bottom: 40px;
    }
    50% {
        bottom: 60px;
    }
    100% {
        bottom: 40px;
    }
}
.section1 {
    @include bg('07/section1-bg.jpg');
    position: relative;
    overflow: hidden;
    background-color: #000;
    @media (min-height: 1000px) and (min-width: $min-width) {
        background-position: 50%;
    }
    @media (max-width: $max-width) {
        background-color: transparent;
        background-image: none;
    }

    // 開燈
    &.disabled {
        &::before,
        .section1-cover,
        .section1-switch {
            opacity: 0;
            pointer-events: none;
        }
    }

    @each $i, $top, $left in (1, 305, 440), (2, 290, 55), (3, 305, -185), (4, 435, 105), (5, 515, 295), (6, 675, 475), (7, 615, -275) {
        &.cover#{$i} .spotlight {
            top: #{$top}px;
            left: calc(50% - #{$left}px);
            width: 200px;
            height: 200px;
        }
    }
    @media (max-width: $max-width) {
        @each $i, $top, $left in (1, 34%, 6%), (2, 32%, 61%), (3, 47%, 33%), (4, 57%, 5%), (5, 41%, 63%), (6, 72%, 1%), (7, 65%, 59%) {
            &.cover#{$i} .spotlight {
                top: $top;
                left: $left;
                padding-bottom: calc(200 / 640 * 100%);
                width: calc(200 / 640 * 100%);
                height: 0;
            }
        }
    }

    .container {
        position: relative;
        width: 100%;
        height: image-height('07/section1-bg.jpg');
        @media (min-height: 1000px) and (min-width: $min-width) {
            height: 100vh;
        }
        @media (max-width: $max-width) {
            height: auto;
        }
    }

    .spotlight {
        position: absolute;
        border-radius: 50%;
        background: transparent;
        box-shadow: 0 0 200px 2000px rgba(0, 0 ,0 , .9);
    }
}
.section1-cover {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: image-height('07/section1-bg.jpg');
    transition: opacity 1s;
    transform: translateY(-50%);
    @media (max-width: $max-width) {
        top: 0;
        height: 100%;
        transform: none;
    }
}
.section1-cover-title {
    position: relative;
    z-index: map-get($z-index, section1-cover-title);
    padding-top: 128px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    @media (max-width: $max-width) {
        padding-top: 77px;
        font-size: 29px;
    }
    strong {
        color: #ffe400;
        font-size: (50 / 36) + em;
    }
}
.section1-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: none;
    overflow: hidden;
    height: image-height('07/section1-bg.jpg');
    transform: translateY(-50%);
    @media (max-width: $max-width) {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }
    li {
        position: absolute;
        cursor: pointer;
        @each $i, $top, $left, $width, $height in (1, 386, 410, 145, 60), (2, 355, -16, 65, 70), (3, 385, -214, 145, 60), (4, 516, 74, 145, 60), (5, 595, 265, 145, 60), (6, 740, 405, 65, 70), (7, 692, -307, 145, 60) {
            &:nth-child(#{$i}) {
                top: #{$top}px;
                left: calc(50% - #{$left}px);
                width: #{$width}px;
                height: #{$height}px;
            }
        }
        @media (max-width: $max-width) {
            @each $i, $top, $left, $width, $height in (1, 39%, 8%, 184, 6%), (2, 35.9%, 70.4%, 85, 6.5%), (3, 45.8%, 64.6%, 184, 6%), (4, 52.1%, 34.5%, 184, 6%), (5, 62%, 6.6%, 184, 6%), (6, 75.7%, 10%, 85, 6.5%), (7, 70.2%, 60.5%, 184, 6%) {
                &:nth-child(#{$i}) {
                    top: $top;
                    left: $left;
                    width: calc(#{$width} / 640 * 100%);
                    height: $height;
                }
            }
        }
        a {
            display: block;
            height: 100%;
        }
        &.active a {
            @extend %ripple;
        }

        // tooltip
        &::after {
            position: absolute;
            top: 100%;
            left: calc((250px - 100%) / 2 * -1);
            z-index: map-get($z-index, section1-tooltip);
            padding: 10px 20px;
            width: 250px;
            border: 2px solid #fff;
            background-color: rgba(54, 54 ,54 ,.9);
            color: #fff;
            content: attr(data-title);
            text-align: justify;
            line-height: normal;
            opacity: 0;
            transition: opacity .5s;
            pointer-events: none;
        }
        &:hover::after {
            opacity: 1;
        }
        @media (max-width: 768px) {
            &:nth-child(1),
            &:nth-child(5),
            &:nth-child(6) {
                &::after {
                    left: 0;
                }
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(7) {
                &::after {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.section1-switch {
    @include btn(410px, 79px, #fff, #00c6e1);
    position: fixed;
    bottom: 150px;
    left: 50%;
    display: flex;
    font-size: rem(36);
    transition: opacity 1s;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    @media (max-width: $max-width) {
        bottom: 100px;
        width: 66%;
    }
    &.no-fixed {
        position: absolute;
        @media (max-width: $max-width) {
            bottom: 40px;
        }
    }
    &::before {
        @include imgBg('07/switch-icon.png', true);
        margin-right: 19px;
        content: '';
        @media (max-width: $max-width) {
            margin-right: 5px;
        }
    }
}
.section1-next {
    position: fixed;
    left: 50%;
    display: none;
    width: 36px;
    height: 32px;
    transform: translateX(-50%);
    animation: slideInDown 1.3s infinite ease-out;
    @media (max-width: $max-width) {
        animation-name: slideInDown-mb;
    }
    &::before,
    &::after {
        position: absolute;
        width: 0;
        height: 0;
        border-width: 21px 18px 0 18px;
        border-style: solid;
        border-color: #a3a3a3 transparent transparent transparent;
        content: '';
    }
    &::before {
        bottom: 11px;
        border-top-color: #c6c6c6;
    }
    &::after {
        bottom: 0;
    }
    &.no-fixed {
        position: absolute;
        @media (max-width: $max-width) {
            animation-name: slideInDown-mb-nofixed;
        }
    }
}
.section1-bg-s {
    display: none;
    @media (max-width: $max-width) {
        display: block;
    }
}
.section1-cover-wrap,
.section1-content-wrap {
    @media (max-width: $max-width) {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        padding-top: (image-height('07/section1-bg-s.jpg') / image-width('07/section1-bg-s.jpg')) * 100%;
        width: 100%;
        height: 0;
    }
}
/* #endregion section1 */

/* #region section2 */
.section2 {
    @include bg('07/section2-bg.jpg') {
        background-color: #dedede;
    };
    @media (max-width: $max-width) {
        background-image: linear-gradient(rgba(#fff, .4), rgba(#fff, .4)), inline-image('07/section2-bg.jpg');
    }
}
.section2-problem {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    margin-bottom: 88px;
    height: 420px;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: $max-width) {
        align-items: center;
    }
    li {
        $margin-list: (329px, 169px, 207px, 236px, 79px);
        padding: 12.5px 30px;
        border: 1px solid #a89343;
        border-radius: 20px;
        background-color: #f4cb35;
        font-size: rem(18);
        line-height: 1.4;
        @each $var in $margin-list {
            &:nth-child(#{index($margin-list,$var)}) {
                margin-right: $var;
                @media (max-width: $max-width) {
                    margin-right: 0;
                }
            }
        }
    }
}
.section2-solution {
    display: flex;
    padding-right: 70px;
    padding-bottom: 110px;
    padding-left: 70px;
    counter-reset: num;
    justify-content: space-between;
    @media (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: $max-width) {
        padding-right: 38px;
        padding-left: 38px;
    }
    li {
        position: relative;
        overflow: hidden;
        max-width: 280px;
        counter-increment: num;
        cursor: pointer;
        @media (max-width: 1050px) {
            margin: 0 auto;
            max-width: 500px;
            &:not(:last-child) {
                margin-bottom: 44px;
            }
        }
        &:hover {
            .section2-before p:nth-child(3) {
                bottom: -120px;
            }
            .section2-after {
                top: 0;
            }
        }
    }
}
.section2-before,
.section2-after {
    width: 100%;
    height: 360px;
    color: #fff;
}
.section2-before {
    position: relative;
    padding: 30px 30px 0 30px;
    background-color: #515151;
    &::before {
        position: absolute;
        top: 0;
        left: 10px;
        width: 50px;
        height: 80px;
        background-color: #27c4d9;
        color: #fff;
        content: counter(num);
        text-align: center;
        font-size: rem(40);
        line-height: 80px;
    }
    p {
        &:nth-child(1) {
            padding-bottom: 47px;
            padding-left: 40px;
            color: #ff0;
            font-weight: bold;
            font-size: rem(40);
        }
        &:nth-child(2) {
            font-size: rem(18);
            line-height: 27px;
        }
        &:nth-child(3) {
            position: absolute;
            right: -70px;
            bottom: -60px;
            left: -70px;
            overflow: hidden;
            height: 120px;
            border-radius: 50% 50% 0 0;
            background-color: #be850a;
            text-align: center;
            font-weight: bold;
            font-size: rem(20);
            line-height: 60px;
            transition: bottom .4s;
        }
    }
}
.section2-after {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 40px 30px 0;
    background-color: rgba(#29bed2, .95);
    transition: top .4s;
    p {
        &:nth-child(1) {
            margin-bottom: 10px;
            color: #ff0;
            font-weight: bold;
            font-size: rem(24);
            line-height: 27px;
        }
        &:nth-child(2) {
            font-size: rem(18);
            line-height: 27px;
        }
    }
    a {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60px;
        background-color: #f4cb35;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: rem(22);
        line-height: 60px;
    }
}
/* #endregion section2 */

/* #region section3 */
.section3 {
    @include bg('07/section3-bg.jpg');
    @media (max-width: 1050px) {
        background-color: #f7d65e;
        background-image: none;
    }
    .container {
        position: relative;
        height: image-height('07/section3-bg.jpg');
        @media (max-width: 1050px) {
            height: auto;
        }
    }
    h1 {
        margin-bottom: 47px;
    }
}
.section3-video {
    position: absolute;
    top: 332px;
    left: 50%;
    width: 590px;
    transform: translateX(-49.5%);
    @media (max-width: 1050px) {
        position: static;
        margin: 0 auto 23px;
        max-width: 590px;
        width: auto;
        transform: none;
    }
}
.section3-iframe {
    @include youtubeIframe() {
        padding-top: 54.25%; /* 微調原比例 */
    };
}
.section3-list {
    padding-bottom: 60px;
    @each $index, $top, $left, $right in (1, 152px, 55px, auto),
    (2, 152px, auto, 55px),
    (3, 667px, 55px, auto),
    (4, 667px, auto, 55px) {
        li:nth-child(#{$index}) {
            position: absolute;
            top: $top;
            right: $right;
            left: $left;
            padding: 20px 25px;
            min-height: 168px;
            width: 388px;
            border-radius: 10px;
            background-color: #be850a;
            @media (max-width: 1050px) {
                position: static;
                min-height: 151px;
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 18px;
                }
            }
        }
    }
    li {
        &:nth-child(1)::before {
            @include triangle() {
                top: 100%;
                left: 182px;
                border-width: 0 27px 27px 0;
                border-color: transparent #be850a transparent transparent;
            };
        }
        &:nth-child(2)::before {
            @include triangle() {
                top: 100%;
                left: 189px;
                border-width: 27px 27px 0 0;
                border-color: #be850a transparent transparent transparent;
            };
        }
        &:nth-child(3)::before {
            @include triangle() {
                top: -37px;
                left: 172px;
                border-width: 0 0 37px 37px;
                border-color: transparent transparent #be850a transparent;
            };
        }
        &:nth-child(4)::before {
            @include triangle() {
                top: -37px;
                left: 189px;
                border-width: 37px 0 0 37px;
                border-color: transparent transparent transparent #be850a;
            };
        }
        @media (max-width: 1050px) {
            &::before {
                display: none;
            }
        }
    }
    p {
        @each $index, $color, $font-size, $line-height in (1, #fff, 30, 40px),
        (2, #ff0, 20, 30px),
        (3, #fff, 20, 30px) {
            &:nth-child(#{$index}) {
                color: $color;
                font-size: rem($font-size);
                line-height: $line-height;
            }
        }
    }
}
/* #endregion section3 */

/* #region section4 */
.section4 .title {
    margin-bottom: 38px;
}
.section4-nav {
    display: flex;
    margin: 0 auto 50px;
    max-width: calc(150px * 4 + 17px * 3);
    li {
        width: calc((100% - 17px * 3) / 4);
        @media (max-width: $max-width) {
            width: calc((100% - 5px * 3) / 4);
        }
        &:not(:last-child) {
            margin-right: 17px;
            @media (max-width: $max-width) {
                margin-right: 5px;
            }
        }
    }
    a {
        display: flex;
        height: 40px;
        border: 1px solid #a89343;
        border-radius: 20px;
        background-color: #f4cb35;
        color: #000;
        text-align: center;
        font-size: rem(20);
        justify-content: center;
        align-items: center;
        @media (max-width: $max-width) {
            font-size: rem(16);
        }
    }
}
.section4-tabs {
    margin-bottom: 20px;
    @for $var from 1 through 4 {
        &:nth-of-type(#{$var}) .section4-required {
            background-image: image-url('07/industry-icon#{$var}.png');
            background-position: calc(100% - 33px) calc(100% - 12px);
            background-repeat: no-repeat;
            @media (max-width: $max-width) {
                background-image: none;
            }
        }
    }
}
.section4-tabs-title {
    position: relative;
    margin-bottom: 15px;
    &::after {
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        left: 0;
        height: 2px;
        background-color: #9d9d9d;
        content: '';
    }
    h1 {
        position: relative;
        z-index: map-get($z-index, section4-tabs-title);
        display: inline-block;
        padding-right: 10px;
        background-color: #fff;
        font-weight: bold;
        font-size: 24px;
    }
}
.section4-required-title,
.section4-solution-title {
    position: relative;
    margin-bottom: 20px;
    padding-top: 20px;
    color: #066c7a;
    text-align: center;
    font-weight: bold;
    font-size: rem(22);
    &::after {
        position: absolute;
        bottom: -5px;
        left: calc(50% - 50px);
        width: 100px;
        height: 2px;
        background-color: #066c7a;
        content: '';
    }
}
.section4-solution-description {
    margin-bottom: 10px;
    font-size: rem(20);
    line-height: 28px;
}
.section4-btns {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    li {
        width: 450px;
        @media (max-width: 800px) {
            width: 100%;
        }
        &:first-child {
            margin-right: 58px;
            @media (max-width: 800px) {
                margin-right: 0;
                margin-bottom: 1em;
            }
        }
    }
}
.section4-contact {
    @include btn(100%, 60px, #fff, #066c7a);
    font-size: rem(24);
}

// pc
.section4-industry {
    @media (max-width: $max-width) {
        display: none;
    }
    .section4-content {
        display: flex;
        overflow: hidden;
    }
    .section4-required {
        width: 34%;
        border-radius: 10px 0 0 10px;
        background-color: #ececec;
        flex-shrink: 0;
    }
    .section4-required-list {
        counter-reset: num;
        li {
            &.ui-tabs-active {
                background-color: #95ecf8;
                a {
                    padding-right: 10px;
                    &::before,
                    &::after {
                        display: block;
                    }
                }
            }
        }
        p {
            margin-right: 10px;
            text-align: justify;
            flex-grow: 1;
        }
        a {
            position: relative;
            display: flex;
            padding: 15px 33px 15px 25px;
            font-size: rem(20);
            line-height: 26px;
            align-items: center;
            justify-content: space-between;
            &:focus {
                outline: none;
            }
            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                display: none;
                width: 15px;
                background-color: #00c6e1;
                content: '';
            }
            &::after {
                @include imgBg('07/required-list-icon.png', true);
                display: none;
                content: '';
                flex-shrink: 0;
            }
        }
        strong {
            color: #066c7a;
            font-weight: bold;
        }
    }
    .section4-solution {
        padding: 0 30px;
        width: 66%;
        border-radius: 0 10px 10px 0;
        background-color: #95ecf8;
        flex-shrink: 0;
    }
}

// mobile
.section4-industry-mb {
    display: none;
    @media (max-width: $max-width) {
        display: block;
    }
    .section4-accordion {
        margin-bottom: 30px;
    }
    .section4-required {
        padding-bottom: 46px;
        border-radius: 10px;
        background-color: #ececec;
    }
    .section4-required-description {
        position: relative;
        display: flex;
        padding: 15px 33px 15px 25px;
        padding-right: 10px;
        background-color: #95ecf8;
        font-size: rem(20);
        line-height: 26px;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        &:not(:first-of-type) {
            margin-top: 1px;
        }
        &:focus {
            outline: none;
        }
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 15px;
            background-color: #00c6e1;
            content: '';
        }
        &::after {
            @include imgBg('07/required-list-icon.png', true);
            content: '';
            transition: transform .2s;
            flex-shrink: 0;
        }
        &.ui-state-active::after {
            transform: rotate(90deg);
        }
        p {
            margin-right: 10px;
            flex-grow: 1;
        }
        strong {
            color: #066c7a;
            font-weight: bold;
        }
    }
    .section4-solution {
        padding: 0 20px;
        background-color: #cdf5fb;
    }
}

// swiper
.swiper-container {
    img {
        display: block;
        margin-bottom: 7px;
    }
    figcaption {
        padding-bottom: 53px;
        text-align: center;
    }
    .swiper-wrapper.disabled {
        transform: translate3d(0px, 0, 0) !important;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: #888;
    }
    .swiper-pagination-bullet-active {
        background-color: #066c7a;
    }
}
/* #endregion section4 */

/* #region 諮詢表單 */
#contact {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    .title {
        text-align: center;
        font-size: 36px;
    }
    .sectionDesc-center {
        margin: 0 auto 30px;
        padding: 0 140px;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        a {
            display: inline-flex;
            margin-left: 5px;
            color: #ffae00;
            vertical-align: super;
            font-size: 36px;
            align-items: center;
            &::before {
                display: inline-block;
                margin-right: 5px;
                width: 30px;
                height: 30px;
                border: 1px solid #ffae00;
                border-radius: 50%;
                content: '\f095';
                text-align: center;
                font: normal normal normal 18px/1 FontAwesome;
                line-height: 30px;
            }
        }
    }
    .links {
        color: #fe5757;
    }
    .links:hover {
        color: #ee0101;
    }
    .highLight {
        color: #fe5757;
    }
    .mobileStyle {
        display: none;
    }
}
#form {
    border: 1px solid #ccc;
    h3 {
        background-color: #d6d6d6;
        text-align: center;
        line-height: 50px;
    }
    .inforCheck,
    .demandContent,
    .basciInfo {
        padding: 30px 100px;
    }
    .inforCheck {
        display: flex;
        background-color: #999;
        color: #fff;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inforCheck .outline {
        position: relative;
        float: left;
        margin: 10px 5px 5px 0;
        text-align: left;
        line-height: 30px;
    }
    .inforCheck .oneline {
        position: relative;
        float: left;
        clear: both;
        margin: 20px 5px 5px 0;
        width: 100%;
        text-align: left;
        line-height: 30px;
    }
    .label-wrap {
        width: 100%;
    }
    .inforCheck label {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ff0;
        font-size: 20px;
    }
    .inforCheck-caption {
        margin-bottom: 10px;
        width: 100%;
    }
    .inputTitle {
        margin-bottom: 4px;
        font-size: 20px;
    }
    .inputTitle .requiredHint {
        margin-right: 4px;
        color: #fe5757;
    }
    .inputTitle .fillHint {
        color: #888;
        font-size: 14px;
    }
    .inputTitle .fa {
        display: none;
        margin-left: 4px;
        color: #ffa800;
        font-size: 14px;
    }
    .demandCheck .outline {
        position: relative;
        float: left;
        margin: 0 10px 10px 0;
        width: 190px;
        text-align: center;
        line-height: 40px;
    }
    .demandCheck .outline label {
        display: block;
        background-color: #eee;
        cursor: pointer;
        -webkit-transition: .5s;
                transition: .5s;
    }
    .demandCheck .outline label br {
        display: none;
    }
    .demandCheck .outline:nth-of-type(5n) {
        margin-right: 0;
    }
    .demandCheck .contact-demand,
    .demandCheck .demandOtherCont {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .demandCheck .contact-demand:checked + label,
    .demandCheck .demandOtherCont:checked + label {
        background-color: #3798e4;
        color: #fff;
    }
    .demandCheck.noInput .inputTitle .fa {
        display: inline-block;
    }
    .consult-cont {
        width: 100%;
    }
    .consult-cont #contact-query {
        display: block;
        padding: 10px;
        width: 100%;
        border: 1px solid #d6d6d6;
        font-size: 16px;
        font-family: Arial, '微軟正黑體';
        line-height: 27px;
    }
    .consult-cont .wordNum {
        margin-top: 10px;
        font-size: 14px;
    }
    .basciInfo .outline {
        position: relative;
        z-index: map-get($z-index, form-outline);
        margin-bottom: 10px;
    }
    .basciInfo .inputTitle {
        position: absolute;
        top: 16px;
        left: 20px;
        z-index: map-get($z-index, form-inputTitle);
        -webkit-transition: .5s;
                transition: .5s;
    }
    .basciInfo .inputTitle.focus {
        top: 0;
        color: #3798e4;
        font-size: 16px;
    }
    .basciInfo .inputTitle.focus .requiredHint {
        color: #3798e4;
    }
    .basciInfo input {
        display: block;
        padding: 24px 0 4px 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #d6d6d6;
        background-color: transparent;
        font-size: 18px;
        font-family: Arial, '微軟正黑體';
    }
    .basciInfo input:focus {
        outline: none;
    }
    .basciInfo input.noInput + .inputTitle .fa {
        display: inline-block;
    }
    .btnBlock {
        padding: 40px 0;
        background-color: #f2f2f2;
    }
    .btnBlock #submit {
        display: block;
        margin: auto;
        width: 300px;
        border: none;
        border-radius: 3px;
        background-color: #999;
        color: #fff;
        letter-spacing: 5px;
        font-size: 24px;
        font-family: Arial, '微軟正黑體';
        line-height: 50px;
        cursor: pointer;
        -webkit-transition: .5s;
                transition: .5s;
        &:hover {
            background-color: darken(#999, 10%);
        }
    }
    .btnBlock .agreeLabel {
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        [type=checkbox] {
            vertical-align: middle;
        }
    }
    #fromSource {
        position: absolute;
        height: 0;
        font-size: 0;
    }
    .verifica {
        @extend %clearfix;
        position: relative;
        .outline {
            float: left;
            width: 170px;
        }
        #vericodePic {
            position: relative;
            float: left;
            margin: 10px 0 0 10px;
            padding: 0;
            width: 120px;
            border: none;
            background: url('https://www.digiwin.com/tw/dsc/images/Eform/identCode.jpg') no-repeat center center;
            color: #555;
            letter-spacing: 4px;
            font: italic bold 20px/40px Arial;
        }
        .renovCode {
            display: block;
            float: left;
            margin: 10px 0 0 10px;
            width: 27px;
            height: 40px;
            background: url('https://www.digiwin.com/tw/dsc/images/Eform/reloadDark.png') no-repeat center center;
            cursor: pointer;
        }
        #codeSuces {
            position: absolute;
            bottom: -14px;
            left: 32px;
            color: #fe5757;
            font-size: 14px;
        }
    }
}
@media (max-width: 1060px) {
    #form .inforCheck label {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
            width: 100%;
        }
    }
}
@media (max-width: $max-width) {
    #contact {
        min-width: 100%;
        max-width: 100%;
        .title {
            text-align: justify;
            font-size: 30px;
        }
        .sectionDesc-center {
            padding: 0;
            text-align: justify;
        }
        .sectionDesc-center a {
            font-size: 20px;
        }
    }
    #form {
        margin-bottom: 0;
        .content {
            border: none;
        }
        .inforCheck,
        .demandContent,
        .basciInfo {
            padding: 30px 10px;
        }
        .inforCheck label {
            padding-left: 30px;
        }
        .inforCheck label input {
            margin-left: -20px;
        }
        .basciInfo input {
            padding: 24px 0 4px 4px;
        }
        .basciInfo .inputTitle {
            left: 4px;
        }
        .basciInfo .inputTitle .requiredHint {
            margin-right: 4px;
        }
        .demandCheck .outline {
            margin: 0 0 10px 0;
            padding: 0 5px;
            width: 50%;
            line-height: 24px;
        }
        .demandCheck .outline label {
            padding: 4px 0;
        }
        .demandCheck .outline label br {
            display: block;
        }
        .demandCheck .outline:nth-of-type(odd) {
            padding-left: 0;
        }
        .demandCheck .outline:nth-of-type(even) {
            padding-right: 0;
        }
        .demandCheck .outline .othChecCont {
            line-height: 48px;
        }
        .btnBlock #submit {
            width: 90%;
        }
        .btnBlock .agreeLabel {
            margin-top: 10px;
        }
        .verifica {
            .outline {
                width: 54%;
            }
            #vericodePic {
                width: 28%;
            }
            #codeSuces {
                left: 18px;
            }
        }
    }
}
/* #endregion 諮詢表單 */
