@import 'common';
@import 'components';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    position: relative;
    display: flex;
    min-width: 320px;
    font-size: 18px;
    line-height: 1.6;
    flex-grow: 1;
}