@import '../common';
@import 'components';

main {
    .header {
        @include headerBg('WB00267501_14/header-bg.jpg');
        h1 {
            color: #f0fe11;
        }
        p {
            color: #fff;
            font-size: 20px;
            @media (max-width: $tablet-width) {
                font-size: 18px;
            }
        }
    }
}
