<header>
    <div class="header-container container">
        <div>
            <h1><small>下半年！</small><strong>勞動檢查</strong>持續進行，<br>免被開罰秘笈大公開！</h1>
            <p>鼎新<strong>HR Solution</strong></p>
            <small>因應勞檢產出各項明細文件，協助您過關斬將，<br>成功因應勞檢大軍！</small>
        </div>
    </div>
</header>

<nav id="pcnav" class="js-fixedNav">
    <div class="nav-container container">
        <a href="#solution">HRM解決方案</a>
        <a href="#law">遵循法令與流程</a>
        <a href="#checklist">勞檢重點項目</a>
        <a href="#requiredDoc">企業必備文件</a>
        <a href="#attention">下半年關注行業</a>
    </div>
</nav>

<article class="product">
    <div class="container">
        <h1>企業主看過來！<br>您不可不知的勞檢因應對策！</h1>
        <div class="product-content">
            <p>面對勞檢，還在為下列狀況困擾？</p>
            <ul>
                <li>準備勞檢審查文件倍感心力交瘁？</li>
                <li>擔心公司規範是否有違法？</li>
                <li>排班好頭痛，深怕員工有超時狀況？</li>
            </ul>
            <p><strong>鼎新HR Solution系統</strong>結合現行法規，隨時幫企業檢核公司規範合法性，能有效產出勞檢所需備查文件，同時含有貼心推播提醒功能，讓主管能夠防患未然！系統資料庫完整記錄員工刷卡，能有效關聯薪資計算，讓結算薪資簡單又準確！</p>
        </div>
        <a href="#contact" id="product-link">您心動了嗎？趕快瞭解如此強力的 HR 最佳助手！</a>
    </div>
</article>

<article class="news">
    <div class="news-container container">
        <h1>法令最新消息</h1>
        <p class="news-content container">
            勞動部修正「違反勞動基準法裁處罰鍰共通性原則」<br>
            上市櫃公司違反加班工時、輪班、例假等法規，10月開始最低罰鍰5萬元起跳！<br>
            <em>(民國107年10月1日起生效)</em>
        </p>
        <section>
            <h1 class="news-warning">上市櫃公司須留意！若違反下列相關法令，<br>10月開始最低罰鍰 5 萬元起跳！</h1>
            <div class="news-detail container">
                <p>自民國107年10月1日起，上市櫃公司如違反勞基法：</p>
                <ul>
                    <li>第32條：加班工時</li>
                    <li>第34條：輪班間隔</li>
                    <li>第36條：一例一休、七休一等法規，</li>
                </ul>
                <p>最低罰鍰金額將從原本 2 萬元改為 5 萬元起跳，<br>若違規情節重大，即加重罰鍰至 150 萬元。</p>
            </div>
        </section>
    </div>
</article>

<article id="solution" class="solution">
    <div class="solution-container container">
        <h1 class="large">不想違規？解決方案報你知！</h1>
        <h2>企業最常違規法令前5名<strong>鼎新HRM有最完善的解決方案</strong>讓企業免於上榜</h2>
        <ul class="solution-list js-solution-list">
            <li class="animated js-solution-item">
                <div class="solution-title js-solution-title">
                    <h3><span>[第24條]</span>未依規定加給延長工時工資</h3>
                </div>
                <p class="solution-content">鼎新HRM解決方案：<br>可根據員工申請與刷卡的紀錄比對，關聯薪資計算不漏接！</p>
            </li>
            <li class="animated js-solution-item">
                <div class="solution-title js-solution-title">
                    <h3><span>[第32條第2項]</span>延長勞工工時超過法令規定</h3>
                </div>
                <p class="solution-content">鼎新HRM解決方案：<br>事前，可應用行動方案推播，提醒主管防患未然；事後，可使用檢核表全面檢核超時狀況！</p>
            </li>
            <li class="animated js-solution-item">
                <div class="solution-title js-solution-title">
                    <h3><span>[第30條第6項]</span>未依規定記載勞工出勤紀錄</h3>
                </div>
                <p class="solution-content">鼎新HRM解決方案：<br>電子檔刷卡紀錄直接存入資料庫，便利查詢不遺漏！</p>
            </li>
            <li class="animated js-solution-item">
                <div class="solution-title js-solution-title">
                    <h3><span>[第36條]</span>未依規定給予例假或休息日</h3>
                </div>
                <p class="solution-content">鼎新HRM解決方案：<br>排班時，應用七休一檢核表功能，從源頭防範疏漏機率；上班中，可應用行動方案推播，提醒主管即將發生違規！</p>
            </li>
            <li class="animated js-solution-item">
                <div class="solution-title js-solution-title">
                    <h3><span>[第39條]</span>休假日出勤未加倍發給工資</h3>
                </div>
                <p class="solution-content">鼎新HRM解決方案：<br>以排班表勾稽加班日期型態，關聯薪資計算準確無誤！</p>
            </li>
        </ul>
    </div>
</article>

<article id="law" class="law">
    <div class="law-container container">
        <h1>HRM因應對策與法令結合，免擔心觸法！</h1>
        <h2 class="highlight">鼎新HRM，將法律遵循及防範因應，融入到公司規章及作業流程</h2>
        <picture>
            <source srcset="images/06/law-illu.png" media="(min-width: 640px)">
            <source srcset="images/06/law-illu-s.png">
            <img src="images/06/law-illu-s.png" alt="">
        </picture>
    </div>
</article>

<article id="checklist" class="checklist">
    <div class="checklist-container container">
        <h1 class="large">勞動檢查重點項目</h1>
        <div class="checklist-content">
            <ul class="checklist-list">
                <li>是否經勞動部同意而適用輪班間隔、七休一之例外？</li>
                <li>是否經工會或勞資會議同意？</li>
                <li>有依照規定給加班費嗎？</li>
                <li>加班換補休有依照規定辦理？</li>
            </ul>
            <img class="checklist-illu" src="images/06/checklist-illu.png" alt="">
        </div>
    </div>
</article>

<article id="requiredDoc" class="requiredDoc">
    <div class="requiredDoc-container container">
        <h1 class="large">企業必備文件鐵三角</h1>
        <h2 class="highlight">面對勞檢人員，擔心文件準備不齊全而被罰款？<br>鼎新HRM通通為您準備好，必備文件一份不少！</h2>
        <ul class="requiredDoc-list">
            <li>勞工名卡</li>
            <li>工資清冊</li>
            <li>出勤紀錄</li>
        </ul>
        <p class="requiredDoc-ps">※從勞工離職起算，須保存五年以備勞檢</p>
    </div>
</article>

<article id="attention" class="attention">
    <div class="attention-container container">
        <h1>勞檢下半年重點關注行業</h1>
        <p>保全服務業、部分工時勞工、金融保險業、國道客運業、電子零組件製造業、勞動派遣養護機構</p>
        <p>註：七休一例外行業全年勞檢</p>
    </div>
</article>

<div id="contact" class="section">
    <div class="container">
        <p class="title">快速因應最新法令，勞動檢查輕鬆過關，人資夥伴的最佳解決方案！</p>
        <p class="sectionDesc-center">需要立即的支援與服務請直撥免付費專線 <a href="tel:0800009890">0800-009-890</a></p>
        <div id="form">
            <form>
                <a id="fromSource" href="javascript:;">WB002838</a>
                <div class="inforCheck">
                    <p class="inforCheck-caption">鼎新HRM人力資源解決方案，即時更新因應最新法令，讓人資無須擔心勞檢卡關！</p>
                    <label for="demand01"><input name="contact-demand" class="contact-demand" id="demand01" type="checkbox" value="我想輕鬆通過勞動檢查，幫企業省大錢！索取HR解決方案相關資料。" /> 我想輕鬆通過勞動檢查，幫企業省大錢！索取HR解決方案相關資料。</label>
                    <div class="outline">若您有其他建議或想法，歡迎與我們分享：</div>
                    <div class="consult-cont">
                        <p class="inputTitle"></p>
                        <textarea id="contact-query" cols="40" rows="4" maxlength="500"></textarea>
                        <p class="wordNum">可輸入 <span class="remaining">500</span> 字</p>
                    </div>
                </div>

                <div class="basciInfo">
                    <div class="outline">
                        <input type="text" name="contact-company" id="contact-company" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>公司名稱 <span class="fillHint"> (請填寫完整公司名稱)</span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="outline">
                        <input type="text" name="telephone" id="telephone" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>聯絡電話<i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="outline">
                        <input type="text" name="contact_person" id="contact_person" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>聯絡人<i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="outline">
                        <input type="text" name="contact-dept" id="contact-dept" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>部門<i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="outline">
                        <input type="text" name="contact-job" id="contact-job" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>職稱<i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="outline">
                        <input type="text" name="contact-email" id="contact-email" class="contact required">
                        <p class="inputTitle"><span class="requiredHint">*</span>E-mail<span class="fillHint"> (例：example@digiwin.com)</span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
                    </div>
                    <div class="verifica clearfix">
                        <div class="outline">
                            <input type="text" name="" id="identCode" class="identCode" onBlur="validate()">
                            <p class="inputTitle"><span class="requiredHint">*</span>請輸入驗證碼</p>
                        </div>
                        <input type="button" id="vericodePic" />
                        <span class="renovCode" onClick="createCode()"></span>
                        <span id="codeSuces"></span>
                    </div>
                </div>
                <div class="btnBlock">
                    <input type="button" id="submit" value="提交資料">
                    <div class="agreeLabel">
                        <label for="agree">
                        <input type="checkbox" name="agree" value="" id="agree" checked> 我同意接受鼎新電腦<a class="links" href="http://tw.digiwin.biz/legal.html" target="_blank">隱私權聲明</a>
                    </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>