extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    script(src='assets/jquery-ui.min.js', defer)
    script(src='assets/jquery.ui.touch-punch.min.js', defer)
    link(rel='stylesheet', href='css/swiper.min.css')
    script(src='assets/swiper.min.js', defer)
    link(rel='stylesheet', href='css/smartManufactur.css')
    script(src='js/smartManufactur.js', defer)

block content
    include smartManufactur.html