main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB00278301_channelArrange #pageTitle {
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_channelTop.jpg") no-repeat center center;
}
main.WB00278301_channelArrange #pageTitle .sectionNote {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
}
main.WB00278301_channelArrange #retail h2 {
  text-align: left;
}
main.WB00278301_channelArrange #retail .sectionNote {
  padding: 0;
  text-align: justify;
}
main.WB00278301_channelArrange #retail ul {
  margin-top: 60px;
}
main.WB00278301_channelArrange #retail li {
  float: left;
  width: 20%;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
main.WB00278301_channelArrange #retail li .imgStyle {
  background-color: #ff8582;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
main.WB00278301_channelArrange #retail li h3 {
  margin: 15px 0 3px;
  color: #ff8582;
  text-align: center;
}
main.WB00278301_channelArrange #retail li:hover .imgStyle {
  background-color: #5b80c4;
}
main.WB00278301_channelArrange #retail li:hover h3 {
  color: #5b80c4;
}
main.WB00278301_channelArrange #caseList {
  padding-bottom: 120px;
  background: url("https://www.digiwin.com/tw/dsc/solution/WB002783/images/bg_channel.jpg") no-repeat center center;
  color: #fff;
}
main.WB00278301_channelArrange #caseList .caseBlock {
  display: table-row;
}
main.WB00278301_channelArrange #caseList .caseBlock .name,
main.WB00278301_channelArrange #caseList .caseBlock .caseDes,
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}
main.WB00278301_channelArrange #caseList .caseBlock .name {
  position: relative;
  width: 150px;
  padding-left: 15px;
  color: #fde876;
  font-size: 20px;
  font-weight: bold;
}
main.WB00278301_channelArrange #caseList .caseBlock .name:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background-color: #ccc;
}
main.WB00278301_channelArrange #caseList .caseBlock .name .type {
  display: block;
  color: #fff;
  font-size: 16px;
}
main.WB00278301_channelArrange #caseList .caseBlock .caseDes {
  width: 710px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt {
  position: relative;
  width: 80px;
  padding-right: 5px;
  border-bottom: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  vertical-align: bottom;
}
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  border-top: 65px solid transparent;
  border-right: 80px solid #214593;
}
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt:after {
  content: "more";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 5px;
}
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt:hover:before {
  border-right-color: #fde876;
}
main.WB00278301_channelArrange #caseList .caseBlock .moreTxt:hover:after {
  color: #005d81;
}