@import '../common';
@import 'components';

main {
    .header {
        p {
            font-size: 30px;
            line-height: 1.3;
            @media (min-width: $tablet-width + 1) {
                font-size: 36px;
            }
            & + p {
                margin-top: 1em;
                font-weight: bold;
            }
        }
        strong {
            @media (min-width: $tablet-width + 1) {
                font-size: 48px;
            }
        }
    }
    .section1 {
        .illust {
            margin: 0 auto;
            max-width: 1200px;
        }
        .svgContainer {
            padding-top: percentage(484 / 1200);
        }
    }
    .section2 {
        .illust {
            margin: 0 auto;
            max-width: 1181px;
        }
        .svgContainer {
            padding-top: percentage(532 / 1181);
        }
    }
}
