// variable
$max-width: 480px;
$min-width: $max-width + 1px;
$content-width: 1200px;
$imgDir: '02';
$z-index: (
    form: -1,
    nextArrow: 1,
    listArrow: 3,
    nav: 4,
    thx: 99,
    loading: 100
);

@import 'common/reset';
@import 'common/helpers';
@import 'common/family';

@mixin btn($width, $lineHeight) {
    display: block;
    max-width: $width;
    border: 1px solid #05acc7;
    border-radius: 5px;
    color: #05acc7;
    text-align: center;
    font-size: rem(20);
    line-height: $lineHeight;
    transition: color .5s, background-color .5s;
    @media (min-width: $min-width) {
        &:hover {
            background-color: #05acc7;
            color: #fff;
        }
    }
    @content;
}

/* #region all */
html {
    min-width: $content-width;
}
p {
    text-align: justify;
}
img {
    max-width: 100%;
}
article {
    padding-top: 66px;
}
.articleTitle {
    text-align: center;
    font-size: rem(36);
    line-height: 44px;
}
.articleContent {
    font-size: rem(20);
    line-height: 30px;
}
.content {
    margin: 0 auto;
    width: $content-width;
}
@media (max-width: $max-width) {
    html {
        min-width: 0;
    }
    article {
        padding-top: 38px;
    }
    .articleTitle {
        text-align: left;
        font-size: 32px;
        line-height: 40px;
    }
    .content {
        padding-right: 20px;
        padding-left: 20px;
        width: auto;
    }
}
/* #endregion all */

/* #region top */
#top {
    height: 35px;
    background-color: #f4f4f4;
    .content {
        position: relative;
        height: inherit;
    }
    .logo {
        position: absolute;
        top: 3px;
    }
    a {
        display: block;
        width: 90px;
        height: inherit;
    }
}

@media (max-width: $max-width) {
    #top {
        height: 50px;
        .content {
            padding: 0 5%;
            width: 100%;
        }
        .logo {
            top: 10px;
        }
    }
}
/* #endregion 頁首 */

/* #region footer */
#dgwFooter {
    padding: 13px 0 17px;
    width: 100%;
    border-top: 1px solid #fff;
    background-color: #d9d9d9;
    color: #595757;
    text-align: center;
    font-size: 13px;
    .link01 a {
        display: inline-block;
        padding: 0 3px 0 0x;
        color: #595757;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        a:hover {
            display: inline-block;
            padding: 0 3px 0 0;
            text-align: center;
            text-decoration: underline;
        }
        span {
            display: inline-block;
            text-align: center;
            font-size: 9px;
        }
    }
    .link02 {
        margin: 14px 0 8px 0;
        text-align: center;
        ul li {
            a {
                display: inline-block;
                padding: 0 4px 0 1px;
                color: #595757;
                text-align: center;
                text-decoration: none;
                &:hover {
                    display: inline-block;
                    padding: 0 4px 0 1px;
                    text-align: center;
                    text-decoration: underline;
                }
            }
            span {
                display: inline-block;
                text-align: center;
            }
        }
    }
    p {
        clear: both;
        margin: 0;
        text-align: center;
        font-size: 13px;
    }
    img {
        vertical-align: middle;
    }
}

@media (max-width: $max-width) {
    #dgwFooter {
        background-color: #333;
        color: #fff;
        .link01,
        .link02 {
            display: none;
        }
    }
}
/* #endregion footer */

/* #region loading */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map-get($z-index, loading);
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }
    p {
        display: inline-block;
        margin: 0 auto;
        width: 90%;
        vertical-align: middle;
        text-align: center;
        font-size: 21px;
    }
    p i {
        display: block;
        margin-bottom: 15px;
        height: 24px;
        background: url('/tw/dsc/images/Eform/loading.gif') no-repeat center center;
    }
}
/* #endregion loading */

/* #region nav */
.nav {
    position: absolute;
    right: 0;
    left: 0;
    z-index: map-get($z-index, nav);
    display: none;
    height: 60px;
    background-color: #003278;
    &.fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: map-get($z-index, nav);
    }
    ul {
        display: flex;
        height: inherit;
        background-color: inherit;
    }
    li {
        width: calc(100% / 6);
        height: inherit;
        border-right: 1px solid #fff;
        &:first-child {
            border-left: 1px solid #fff;
        }
    }
    a {
        display: flex;
        height: 100%;
        color: #fff;
        text-align: center;
        line-height: 20px;
        transition: background-color .5s;
        justify-content: center;
        align-items: center;
        &.active {
            background-color: #f26041;
        }
        br {
            display: none;
        }
    }
}
.nav-content {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: $max-width) {
    .nav {
        position: static;
        display: block;
        &.fixed + * {
            margin-top: 60px;
        }
        a br {
            display: block;
        }
    }
}
@media (min-width: $min-width) {
    .nav a:hover {
        background-color: #f26041;
    }
}
@media (min-width: $min-width) and (max-width: $content-width) {
    .nav.fixed ul {
        width: auto;
    }
}
/* #endregion nav */

/* #region video */
.player-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.nextArrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: map-get($z-index, nextArrow);
    opacity: .8;
    transform: translateX(-50%);
    &.is-nofixed {
        position: absolute;
    }
}
@media (max-width: $max-width) {
    .nextArrow {
        display: none;
    }
}
/* #endregion video */

/* #region 縮短交期 */
.shorten {
    position: relative;
    margin: 0 auto;
    height: image-height('#{$imgDir}/shorten-bg.jpg');
    background: image-url('#{$imgDir}/shorten-bg.jpg') 50% no-repeat;
    hgroup {
        margin-bottom: 24px;
    }
    h1 {
        margin-bottom: 22px;
    }
    h2 {
        color: #003278;
        text-align: center;
        font-size: rem(24);
    }
    p {
        width: 1004px;
    }
}
@media (max-width: $max-width) {
    .shorten {
        padding-bottom: 95px;
        height: auto;
        background-image: image-url('#{$imgDir}/shorten-bg-mb.jpg');
        background-position: -155px 100%;
        h2 {
            text-align: left;
            line-height: 30px;
        }
        p {
            width: auto;
        }
    }
}
/* #endregion 縮短交期 */

/* #region 應用效益 */
.application {
    padding-bottom: 80px;
    background-color: #f2f1ed;
}
.application-title {
    margin-bottom: 14px;
}
.application-content {
    margin-bottom: 32px;
}
.application-lists {
    @extend %clearfix;
    .list {
        $i: 0;
        position: relative;
        float: left;
        overflow: hidden;
        width: calc((100% - (27px * 3)) / 4);
        color: #fff;

        // set background-image
        @while $i < 4 {
            $i: $i + 1;
            &:nth-of-type(#{$i}) .outline01 {
                background-image: image-url('#{$imgDir}/application-bg#{$i}.png');
            }
        }

        &:not(:last-child) {
            margin-right: 27px;
        }
        & > div {
            position: relative;
        }
        h3 {
            position: relative;
            height: 60px;
            background-color: #14546f;
            text-align: center;
            font-size: rem(30);
            line-height: 60px;
            &::after {
                position: absolute;
                bottom: -8px;
                left: 30px;
                z-index: map-get($z-index, listArrow);
                width: 0;
                height: 0;
                border-top: 8px solid #14546f;
                border-right: 9px solid transparent;
                border-left: 9px solid transparent;
                content: '';
            }
        }
        .arrow {
            position: absolute;
            top: 0;
            right: 6px;
            display: none;
            width: 40px;
            height: 100%;
            border-left: 1px dashed #38809e;
            color: #38809e;
            text-align: center;
            i {
                position: absolute;
                top: 50%;
                font-size: rem(24);
                -webkit-transition: .5s;
                        transition: .5s;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                &.down {
                    -webkit-transform: translateY(-50%) rotate(90deg);
                            transform: translateY(-50%) rotate(90deg);
                }
            }
        }
    }
    .outline {
        position: relative;
        padding: 24px 23px 0;
        width: 100%;
        h4 {
            color: #ff0;
            font-weight: bold;
            font-size: rem(20);
        }
        hr {
            margin: 10px 0 12px;
            width: 20px;
            height: 2px;
            border: 0;
            background-color: #82d6e3;
        }
        p {
            line-height: 27px;
        }
        .more,
        .goContact {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #ffae00;
            text-align: center;
            font-weight: bold;
            font-size: rem(20);
            line-height: 50px;
            cursor: pointer;
            -webkit-transition: .5s;
                    transition: .5s;
        }
        .more:hover,
        .goContact:hover {
            background-color: #ff9000;
        }
        ul {
            padding-left: 1em;
            list-style: disc;
            line-height: 27px;
        }
    }
    .outline01 {
        height: 330px;
        background-color: #05acc7;
        background-position: 100% 155px;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0 6px 10px transparent;
                box-shadow: 0 6px 10px transparent;
        -webkit-transition: -webkit-box-shadow .5s .2s;
                transition: -webkit-box-shadow .5s .2s;
                transition:         box-shadow .5s .2s;
                transition:         box-shadow .5s .2s, -webkit-box-shadow .5s .2s;
    }
    .outline02 {
        position: absolute;
        top: 100%;

// top: 0;
        z-index: 2;
        width: 100%;
        height: 330px;
        background-color: #0091d4;
    }
}
@media (max-width: $max-width) {
    .application-lists {
        .list {
            width: 100%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 9px;
            }
        }
    }
}
/* #endregion 應用效益 */

/* #region 價值服務 */
.worth-articleTitle {
    margin-bottom: 46px;
    i {
        color: #05acc7;
    }
}
.worth-main {
    position: relative;
}
.worth-main-articleContent {
    margin-bottom: 80px;
    width: 784px;
}
.worth-main-chart1 {
    position: absolute;
    top: 0;
    right: 0;
    figcaption {
        margin-top: 7px;
        text-align: center;
    }
}
.worth-main-chart2 {
    display: block;
}
.worth-main-btn {
    @include btn(360px, 38px) {
        margin: 96px auto 80px;
    }
}
@media (max-width: $max-width) {
    .worth-articleTitle {
        margin-bottom: 29px;
        br {
            display: none;
        }
    }
    .worth-main-articleContent {
        margin-bottom: 22px;
        width: 100%;
    }
    .worth-main-chart1 {
        position: static;
        top: auto;
        right: auto;
        margin-bottom: 37px;
        text-align: center;
    }
    .worth-main-chart2 {
        text-align: center;
    }
    .worth-main-btn {
        margin-top: 33px;
        margin-bottom: 51px;
    }
}
/* #endregion 價值服務 */

/* #region 企業實證 */
.corporate {
    padding: 48px 0;
    background: image-url('#{$imgDir}/corporate-bg.png') 50% no-repeat;
}
.corporate-content {
    padding-right: 77px;
    padding-left: 96px;
}
.corporate-articleTitle {
    margin-bottom: 31px;
}
.corporate-articleContent {
    margin-bottom: 52px;
    text-align: center;
}
.corporate-main {
    display: flex;
    margin-bottom: 65px;
    justify-content: space-between;
    align-items: center;
}
.corporate-main-illust {
    width: 560px;
    height: 316px;
    order: 1;
}
.corporate-main-list {
    dt,
    dd {
        line-height: 30px;
    }
    dt {
        position: relative;
        display: block;
        margin-bottom: 7px;

// padding-left: 8px;
        // border-left: 6px solid #05acc7;
        color: #05acc7;
        font-weight: bold;
        font-size: rem(24);

        &::before {
            position: absolute;
            left: -14px;
            width: 6px;
            height: 26px;
            background-color: #05acc7;
            content: '';
        }
    }
    dd {
        margin-bottom: 19px;
        font-size: rem(20);
    }
}
.corporate-btns {
    display: flex;
    clear: both;
    margin: 0 auto;
    width: 976px;
    height: 40px;
    justify-content: space-between;
    li {
        width: calc((100% - (32px * 3)) / 4);
    }
    a {
        @include btn(100%, 38px) {
            padding: 0 8px;
            br {
                display: none;
            }
        };
    }
}
@media (max-width: $max-width) {
    .corporate {
        background: #f2f1ed;
    }
    .corporate-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .corporate-articleContent {
        margin-bottom: 45px;
        text-align: left;
    }
    .corporate-main {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .corporate-main-illust {
        margin-bottom: 37px;
        width: 100%;
        height: auto;
        order: 0;
    }
    .corporate-main-list {
        margin-left: 25px;
    }
    .corporate-btns {
        padding: 0 15px;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        li {
            @include first(2) {
                margin-bottom: 17px;
            }  width: calc((100% - 17px) / 2);
            height: 80px;
            &:nth-child(2n + 1) {
                margin-right: 17px;
            }
        }
        a {
            display: flex;
            height: 100%;
            font-size: rem(22);
            line-height: 25px;
            justify-content: center;
            align-items: center;
            br {
                display: block;
            }
        }
    }
}
/* #endregion 企業實證 */

/* #region 諮詢表單 */
#contact {
    position: relative;
    margin: 0 auto;
    padding: 47px 0;
    min-width: 1200px;
    max-width: 1920px;
    width: 100%;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    .title {
        text-align: center;
        font-size: 36px;
    }
    .sectionDesc-center {
        margin: 0 auto 30px;
        padding: 0 140px;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        a {
            display: inline-flex;
            margin-left: 5px;
            color: #ffae00;
            vertical-align: super;
            font-size: 36px;
            align-items: center;
            &::before {
                display: inline-block;
                margin-right: 5px;
                width: 30px;
                height: 30px;
                border: 1px solid #ffae00;
                border-radius: 50%;
                content: '\f095';
                text-align: center;
                font: normal normal normal 18px/1 FontAwesome;
                line-height: 30px;
            }
        }
    }
    .links {
        color: #fe5757;
    }
    .links:hover {
        color: #ee0101;
    }
    .highLight {
        color: #fe5757;
    }
    .mobileStyle {
        display: none;
    }
}
#form {
    border: 1px solid #ccc;
    h3 {
        background-color: #d6d6d6;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
    }
    .inforCheck,
    .demandContent,
    .basciInfo {
        padding: 30px 100px;
    }
    .demandCheck {
        @extend %clearfix;
    }
    .inforCheck {
        background-color: #e23f0b;
        color: #fff;
    }
    .inforCheck .outline {
        position: relative;
        float: left;
        margin: 0 5px 5px 0;
        text-align: left;
        line-height: 30px;
    }
    .inforCheck .oneline {
        position: relative;
        float: left;
        clear: both;
        margin: 20px 5px 5px 0;
        width: 100%;
        text-align: left;
        line-height: 30px;
    }
    .inforCheck label {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ff0;
        font-size: 20px;
    }
    .inputTitle {
        margin-bottom: 4px;
        font-size: 20px;
    }
    .inputTitle .requiredHint {
        margin-right: 4px;
        color: #fe5757;
    }
    .inputTitle .fillHint {
        color: #888;
        font-size: 14px;
    }
    .inputTitle .fa {
        display: none;
        margin-left: 4px;
        color: #ffa800;
        font-size: 14px;
    }
    .demandCheck .outline {
        position: relative;
        float: left;
        margin: 0 10px 10px 0;
        width: 190px;
        text-align: center;
        line-height: 40px;
    }
    .demandCheck .outline label {
        display: block;
        background-color: #eee;
        cursor: pointer;
        -webkit-transition: .5s;
                transition: .5s;
    }
    .demandCheck .outline label br {
        display: none;
    }
    .demandCheck .outline:nth-of-type(5n) {
        margin-right: 0;
    }
    .demandCheck .contact-demand,
    .demandCheck .demandOtherCont {
        position: absolute;
        top: 0;
        left: 0;
        z-index: map-get($z-index, form);
        opacity: 0;
    }
    .demandCheck .contact-demand:checked + label,
    .demandCheck .demandOtherCont:checked + label {
        background-color: #3798e4;
        color: #fff;
    }
    .demandCheck.noInput .inputTitle .fa {
        display: inline-block;
    }
    .consult-cont {
        margin-top: 30px;
    }
    .consult-cont #contact-query {
        display: block;
        padding: 10px;
        width: 100%;
        border: 1px solid #d6d6d6;
        font-size: 16px;
        font-family: Arial, '微軟正黑體';
        line-height: 27px;
    }
    .consult-cont .wordNum {
        margin: 0 0 0 10px;
        font-size: 14px;
    }
    .basciInfo .outline {
        position: relative;
        margin-bottom: 10px;
    }
    .basciInfo .inputTitle {
        position: absolute;
        top: 16px;
        left: 20px;
        z-index: map-get($z-index, form);
        -webkit-transition: .5s;
                transition: .5s;
    }
    .basciInfo .inputTitle.focus {
        top: 0;
        color: #3798e4;
        font-size: 16px;
    }
    .basciInfo .inputTitle.focus .requiredHint {
        color: #3798e4;
    }
    .basciInfo input {
        display: block;
        padding: 24px 0 4px 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #d6d6d6;
        background-color: transparent;
        font-size: 18px;
        font-family: Arial, '微軟正黑體';
    }
    .basciInfo input:focus {
        outline: none;
    }
    .basciInfo input.noInput + .inputTitle .fa {
        display: inline-block;
    }
    .btnBlock {
        padding: 40px 0;
        background-color: #f2f2f2;
    }
    .btnBlock #submit {
        display: block;
        margin: auto;
        width: 300px;
        border: none;
        border-radius: 3px;
        background-color: #3798e4;
        color: #fff;
        letter-spacing: 5px;
        font-size: 24px;
        font-family: Arial, '微軟正黑體';
        line-height: 50px;
        cursor: pointer;
        -webkit-transition: .5s;
                transition: .5s;
    }
    .btnBlock #submit:hover {
        background-color: #0f4773;
    }
    .btnBlock .agreeLabel {
        text-align: center;
        font-size: 14px;
    }
    #fromSource {
        position: absolute;
        height: 0;
        font-size: 0;
    }
    .verifica {
        @extend %clearfix;
        position: relative;
        .outline {
            float: left;
            width: 170px;
        }
        #vericodePic {
            position: relative;
            float: left;
            margin: 10px 0 0 10px;
            padding: 0;
            width: 120px;
            border: none;
            background: url('https://www.digiwin.com/tw/dsc/images/Eform/identCode.jpg') no-repeat center center;
            color: #555;
            letter-spacing: 4px;
            font: italic bold 20px/40px Arial;
        }
        .renovCode {
            display: block;
            float: left;
            margin: 10px 0 0 10px;
            width: 27px;
            height: 40px;
            background: url('https://www.digiwin.com/tw/dsc/images/Eform/reloadDark.png') no-repeat center center;
            cursor: pointer;
        }
        #codeSuces {
            position: absolute;
            bottom: -14px;
            left: 32px;
            color: #fe5757;
            font-size: 14px;
        }
    }
}
#thx {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map-get($z-index, thx);
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
        text-align: center;
    }
    p {
        text-align: center;
        line-height: 1.5;
    }
    .suprtCall span {
        display: block;
    }
    #thxContent {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 50px;
        max-width: 500px;
        width: 50%;
        border-radius: 5px;
        background-color: #3798e4;
        vertical-align: middle;
        text-align: center;
        .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 0 5px 0 5px;
            background-color: #1c7fcc;
            font-size: 24px;
            line-height: 50px;
            cursor: pointer;
            -webkit-transition: .5s;
                    transition: .5s;
        }
        .close:hover {
            background-color: #16639f;
        }
        .title {
            margin-bottom: 15px;
            text-align: center;
            font-size: 30px;
        }
        .thxSourLoad1 {
            display: none;
            margin: 30px auto 0;
            width: 200px;
            height: 45px;
            border: 1px solid #fff;
            border-radius: 3px;
            background-color: #ff7e00;
            line-height: 45px;
        }
        .thxSourLoad1 a {
            display: block;
            color: #fff;
            text-decoration: none;
        }
        .thxSourLoad2 {
            display: inline-block;
            width: 150px;
            height: 45px;
        }
    }
    #goIndex {
        margin: 25px auto 0;
        max-width: 200px;
        width: 82%;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: #0f4773;
        line-height: 50px;
        -webkit-transition: .5s;
                transition: .5s;
        a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }
    }
}
.xcConfirm .popBox {
    .ttBox {
        height: 50px;
    }
    .txtBox {
        .bigIcon {
            display: none;
        }
        p {
            height: auto;
            text-align: center;
        }
    }
    .sgBtn {
        border-radius: 3px;
        font-weight: normal;
        -webkit-transition: .5s;
                transition: .5s;
    }
}
@media (max-width: $max-width) {
    #contact {
        min-width: 100%;
        max-width: 100%;
        .title {
            text-align: justify;
            font-size: 30px;
        }
        .sectionDesc-center {
            padding: 0;
            text-align: justify;
        }
        .sectionDesc-center a {
            font-size: 20px;
        }
    }
    #form {
        margin-bottom: 0;
        .content {
            border: none;
        }
        .inforCheck,
        .demandContent,
        .basciInfo {
            padding: 30px 10px;
        }
        .inforCheck label {
            padding-left: 30px;
        }
        .inforCheck label input {
            margin-left: -20px;
        }
        .basciInfo input {
            padding: 24px 0 4px 4px;
        }
        .basciInfo .inputTitle {
            left: 4px;
        }
        .basciInfo .inputTitle .requiredHint {
            margin-right: 4px;
        }
        .demandCheck .outline {
            margin: 0 0 10px 0;
            padding: 0 5px;
            width: 50%;
            line-height: 24px;
        }
        .demandCheck .outline label {
            display: flex;
            padding: 4px 0;
            height: 56px;
            justify-content: center;
            align-items: center;
        }
        .demandCheck .outline label br {
            display: block;
        }
        .demandCheck .outline:nth-of-type(odd) {
            padding-left: 0;
        }
        .demandCheck .outline:nth-of-type(even) {
            padding-right: 0;
        }
        .demandCheck .outline .othChecCont {
            line-height: 48px;
        }
        .btnBlock #submit {
            width: 90%;
        }
        .btnBlock .agreeLabel {
            margin-top: 10px;
        }
        .verifica {
            .outline {
                width: 54%;
            }
            #vericodePic {
                width: 28%;
            }
            #codeSuces {
                left: 18px;
            }
        }
    }
    #thx #thxContent {
        padding: 50px 20px;
        max-width: 90%;
        width: 90%;
    }
}
@media (min-width: $min-width) {
    #thx #goIndex:hover {
        background-color: #092b46;
    }
    .xcConfirm .popBox .sgBtn:hover {
        background-color: #0f4773;
    }
}
/* #endregion 諮詢表單 */
