@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #region custom */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  word-wrap: break-word; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

body, input, textarea, select, button {
  font-family: Helvetica, Arial, 'Heiti TC', 'Microsoft JhengHei', sans-serif; }

/* #endregion custom */
/* #region function */
/* #endregion function */
/* #region mixin */
/* #endregion mixin */
/* #region extend */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* #endregion extend */
body {
  min-width: 360px;
  font-size: 1.125rem;
  line-height: 1.6; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  flex-grow: 1; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px; }
  @media (min-width: 1200px) {
    .container {
      padding-right: 0;
      padding-left: 0; } }

.hoverBox {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 8.75px;
  width: 233px;
  height: 360px; }
  .hoverBox-title {
    display: flex;
    height: 58px;
    background-color: #9c8575;
    color: #ff0;
    text-align: center;
    letter-spacing: 0.075em;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    align-items: center;
    justify-content: center; }
  .hoverBox-content {
    padding: 60px 10px;
    background-color: #5c4739;
    flex-grow: 1;
    justify-content: center;
    align-items: center; }
    .hoverBox-content p {
      text-align: center; }
      .hoverBox-content p:first-of-type {
        margin-bottom: .5em;
        color: #e4c8b5;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.35; }
      .hoverBox-content p:last-of-type {
        color: #fff;
        line-height: 1.5; }
        .hoverBox-content p:last-of-type i {
          color: #ffe400; }
  .hoverBox-bottom {
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    width: 150%;
    height: 120px;
    border-radius: 50%;
    background-color: #fa5800;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    transition: top .4s;
    transform: translateX(-50%); }
    .hoverBox:hover .hoverBox-bottom {
      top: 100%; }
    .hoverBox-bottom i {
      line-height: 60px; }
  .hoverBox-hover {
    display: flex;
    flex-direction: column;
    background-color: rgba(137, 112, 95, 0.95);
    color: #fff; }
    .hoverBox-hover-title {
      height: 58px;
      background-color: #fa5800;
      text-align: center;
      font-weight: bold;
      line-height: 58px; }
    .hoverBox-hover-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center; }
      .hoverBox-hover-content p {
        margin-top: 10px;
        text-align: center; }

.accordion {
  font-size: 1.375rem;
  line-height: 1.3; }
  @media (max-width: 768px) {
    .accordion {
      font-size: 1.125rem; } }
  .accordion-title {
    display: flex;
    cursor: pointer; }
    .accordion-title .col {
      padding: 1em 2em; }
      .accordion-title .col:first-child {
        background-color: #215e8b;
        flex-grow: 1; }
        @media (max-width: 768px) {
          .accordion-title .col:first-child {
            padding-right: 1em;
            padding-left: 1em; } }
        .accordion-title .col:first-child p:first-child {
          margin-bottom: 7px;
          color: #fed635;
          font-weight: bold; }
        .accordion-title .col:first-child p:last-child {
          color: #fff; }
      .accordion-title .col:last-child {
        display: flex;
        background-color: #feb935;
        align-items: center;
        justify-content: center;
        flex-shrink: 0; }
        @media (max-width: 768px) {
          .accordion-title .col:last-child {
            padding-right: 10px;
            padding-left: 10px; } }
        .accordion-title .col:last-child::after {
          background-image: url("~assets/images/05/accordion-icon.png");
          background-position: 50%;
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          margin-left: 14px;
          width: 24px;
          height: 24px;
          content: '';
          transition: transform .4s;
          transform: rotate(-90deg); }
          @media (max-width: 768px) {
            .accordion-title .col:last-child::after {
              margin-left: 10px; } }
          .accordion-title.active .col:last-child::after {
            transform: rotate(0); }
        .accordion-title .col:last-child br {
          display: none; }
          @media (max-width: 768px) {
            .accordion-title .col:last-child br {
              display: block; } }
  .accordion-content {
    background-color: #fff; }
    .accordion-title:not(:first-of-type) + .accordion-content {
      display: none; }
    .accordion-content + .accordion-title {
      margin-top: 2px; }
    .accordion-content p {
      padding: 1em 2em; }
      @media (max-width: 768px) {
        .accordion-content p {
          padding-right: 10px;
          padding-left: 10px; } }

/* ========================================================================== */
/* common 開始 */
/* ========================================================================== */
.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sectionTitle {
  padding-top: 50px;
  color: #333;
  font-size: 2.25rem; }
  @media (max-width: 768px) {
    .sectionTitle {
      font-size: 1.625rem; } }
  .sectionTitle i {
    color: #fa3b00; }

.sectionDesc {
  margin-top: .5em;
  margin-bottom: 2em;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    .sectionDesc {
      font-size: 1.125rem; } }
  .sectionDesc i {
    color: #387ea7;
    font-weight: bold; }

/* ========================================================================== */
/* common 結束 */
/* ========================================================================== */
nav {
  position: sticky;
  top: 0;
  z-index: 3;
  box-sizing: content-box;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #fff;
  background-color: #9c8575; }
  nav.mbnav {
    display: block;
    line-height: 60px; }
  nav .container {
    display: flex;
    padding-right: 0;
    padding-left: 0; }
  nav a {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 60px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    transition: background-color .2s;
    justify-content: center;
    align-items: center; }
    nav a.active {
      background-color: #fa7c00;
      color: #fff; }
    @media (min-width: 1201px) {
      nav a:first-of-type {
        border-left: 1px solid #fff; }
      nav a:last-of-type {
        border-right: 1px solid #fff; } }
  @media (min-width: 769px) {
    nav a {
      font-size: 1.375rem; } }
  nav a + a {
    border-left: 1px solid #fff; }
  html.no-mobile .nav a:hover {
    background-color: #fa7c00;
    color: #fff; }

header {
  background-image: url("~assets/images/05/header-bg-s.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat; }
  @media (min-width: 415px) {
    header {
      background-image: url("~assets/images/05/header-bg.jpg"); } }
  header .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  @media (max-width: 768px) {
    header {
      height: calc(100vh - 111px);
      background-position-y: 0;
      background-size: cover; } }
  header .container {
    height: 500px; }
    @media (max-width: 768px) {
      header .container {
        display: flex;
        padding-top: 220px;
        height: inherit;
        justify-content: flex-start; } }
  header h1 {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: justify;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.25;
    align-items: flex-start; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 1.625rem; }
        header h1 br:nth-of-type(2) {
          display: none; } }
    header h1::before {
      display: block;
      height: 42px;
      border-radius: 5px;
      background-color: #fa7c00;
      color: #fff;
      text-align: center;
      line-height: 42px;
      width: auto;
      color: #fff;
      margin-bottom: 10px;
      padding-right: 11px;
      padding-left: 11px;
      content: attr(data-tag);
      font-weight: bold;
      font-size: 1.375rem; }
      header h1::before:link, header h1::before:visited {
        color: #fff; }
      @media (max-width: 768px) {
        header h1::before {
          font-size: 1.125rem; } }
  header h2 {
    color: #fb9445;
    text-align: justify;
    font-size: 1.375rem; }
    @media (max-width: 768px) {
      header h2 {
        font-weight: bold;
        font-size: 1.125rem; } }

.section1 {
  padding-bottom: 50px; }
  .section1 .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section1 .sectionTitle {
    text-align: left; }
  .section1-list {
    margin-top: 1.5em;
    letter-spacing: 0.06em;
    font-size: 1.5rem;
    line-height: 2; }
    @media (max-width: 768px) {
      .section1-list {
        font-size: 1.125rem; } }
    .section1-list li {
      display: flex;
      align-items: baseline; }
      .section1-list li::before {
        margin-right: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #9c8575;
        content: '';
        flex-shrink: 0; }
    .section1-list i {
      color: #fa7c00; }

.section2 {
  padding-bottom: 50px;
  background-color: #d2c8c1; }
  .section2 .sectionTitle {
    text-align: left; }
  @media (max-width: 1200px) {
    .section2 .sectionDesc {
      text-align: left; } }
  .section2-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .section2 .hoverBox {
    margin-right: 3.5px;
    margin-left: 3.5px; }
  .section2-caption {
    letter-spacing: 0.01em; }

.section3 {
  padding-bottom: 60px; }
  @media (max-width: 1200px) {
    .section3 .sectionDesc br:nth-of-type(2) {
      display: none; } }
  .section3 .sectionTitle {
    text-align: left; }
  @media (max-width: 1200px) {
    .section3 .sectionDesc {
      text-align: left; } }

.section4 {
  padding-bottom: 60px;
  background-color: #c8e1f4; }
  .section4 .sectionTitle {
    text-align: center; }
  .section4 .sectionDesc {
    text-align: center; }
    @media (max-width: 768px) {
      .section4 .sectionDesc {
        margin-right: auto;
        margin-left: auto;
        max-width: 490px;
        text-align: left; } }
