@import '../common';
@import 'components';

main {
    margin: 0 auto;
    max-width: 1920px;
    .section1 {
        @include bg('../../images/WB00278501/section1-bg-s.jpg');
        padding: 70px 0;
        @media (min-width: $tablet-width + 1) {
            padding-top: 47px;
            padding-bottom: 55px;
            background-image: url('../../images/WB00278501/section1-bg.jpg');
            background-size: cover;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $tablet-width + 1) {
                flex-direction: row;
                margin-bottom: 30px;
                justify-content: center;
            }
        }
        .logo {
            display: block;
            margin: 0 auto 30px;
            @media (min-width: $tablet-width + 1) {
                margin: 0 32px 0 0;
            }
        }
        .sectionTitle {
            @media (min-width: $tablet-width + 1) {
                padding-bottom: 0 !important;
                align-items: flex-start;
            }
            > h1 {
                color: #fff;
                letter-spacing: getLetterSpacing(50);
                line-height: 1.2;
                @media (min-width: $tablet-width + 1) {
                    font-size: 30px;
                }
                > br {
                    display: none;
                    @media (min-width: $content-width + 1) {
                        display: block;
                    }
                }
            }
        }
        .sections {
            @media (min-width: $tablet-width + 1) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
        section {
            padding: 1.5em 1em;
            background-color: #fff;
            @media (min-width: $tablet-width + 1) {
                display: flex;
                flex-direction: column;
                margin: 15px;
                padding-right: 1.5em;
                padding-left: 1.5em;
                width: 370px;
                height: 260px;
            }
            h1 {
                margin-bottom: 5px;
                color: #0083c7;
                letter-spacing: getLetterSpacing(50);
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
            }
            p {
                letter-spacing: getLetterSpacing(25);
                &:nth-of-type(1) {
                    margin-bottom: 1em;
                    font-size: 17px;
                    line-height: 24px;
                }
                &:nth-of-type(2) {
                    text-align: right;
                    @media (min-width: $tablet-width + 1) {
                        margin-top: auto;
                    }
                }
            }
            strong {
                color: #f00;
            }
            + section {
                margin-top: 10px;
            }
        }
    }
}
