@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}
/*食安風暴 WB00255301_1、WB00255301_2、WB00255301_3*/
main.WB002553_1 body {
    font-family: "微軟正黑體", "新細明體", Arial;
    background-color: #FFF;
}

main.WB002553_1 #wrapper5 {
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 50px;
}

main.WB002553_1 h2 {
    width: 100%;
    font-size: 32px;
    line-height: 32px;
    margin: 25px 0px 10px 0px;
    color: #e94609;
}

main.WB002553_1 h3 {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    color: #db9d06;
    margin: 20px 0px 10px 0px;
}

main.WB002553_1 p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
    padding-bottom: 10px;
}

main.WB002553_1 #wrapper5 h2.AA {
    text-align: left;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00252003_22.jpg) no-repeat left center;
    padding-left: 30px;
}

main.WB002553_1 #wrapper5 h2.CC {
    text-align: left;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00252003_23.jpg) no-repeat left center;
    padding-left: 30px;
}

main.WB002553_1 #wrapper5 h2.DD {
    text-align: left;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00252003_24.jpg) no-repeat left center;
    padding-left: 30px;
}

main.WB002553_1 .txtbg {
    width: 900px;
    height: 180px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/txtbg.png);
    padding: 15px 25px;
    margin: 0 auto;
    line-height: 1.7;
}

main.WB002553_1 .txtbg h2.BB {
    margin: 0;
    margin-bottom: 20px;
    background-image: none;
}

main.WB002553_1 #wrapper2 {
    width: 960px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

main.WB002553_1 #problemsTxt {
    position: relative;
}

main.WB002553_1 #problemsTxt #num2 {
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 10px;
}

main.WB002553_1 #problemsTxt #num2 ul {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    list-style: none;
}

main.WB002553_1 #problemsTxt #num2 li {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 10px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow2-1.png);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: "微軟正黑體", "新細明體";
    color: #333;
}

main.WB002553_1 #problemsTxt #num2 li a {
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
}

main.WB002553_1 #problemsTxt #num2 li a.NOWTAB {
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow_bg2-1.png);
    color: #FFF;
}

main.WB002553_1 #problemsTxt #blockCon2 {
    clear: both;
    width: 2880px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

main.WB002553_1 #problemsTxt .box {
    float: left;
    z-index: 11;
    width: 960px;
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 15px;
}

main.WB002553_1 #problemsTxt .box h3 {
    font-size: 22px;
    color: #ff3131;
    text-align: left;
    margin-top: 20px;
    padding-bottom: 5px;
    font-family: "微軟正黑體", "新細明體";
}

main.WB002553_1 #problemsTxt .box tr:nth-child(odd) {
    background-color: #F0F0F0;
}

main.WB002553_1 #problemsTxt .box tr:nth-child(even) {
    background-color: #FFF7E8;
}

main.WB002553_1 #problemsTxt #box1 {
    left: 0;
}

main.WB002553_1 #problemsTxt .now2 {
    left: 0;
}

main.WB002553_1 #problemsTxt #num3 {
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 10px;
}

main.WB002553_1 #problemsTxt #num3 ul {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    list-style: none;
}

main.WB002553_1 #problemsTxt #num3 li {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 10px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow2-1.png);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: "微軟正黑體", "新細明體";
    color: #333;
}

main.WB002553_1 #problemsTxt #num3 li a {
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
}

main.WB002553_1 #problemsTxt #num3 li a.NOWTAB {
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow_bg2-1.png);
    color: #FFF;
}

main.WB002553_1 #problemsTxt #blockCon3 {
    clear: both;
    width: 2880px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

main.WB002553_1 #problemsTxt #num4 {
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 10px;
}

main.WB002553_1 #problemsTxt #num4 ul {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    list-style: none;
}

main.WB002553_1 #problemsTxt #num4 li {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 10px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow2-1.png);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: "微軟正黑體", "新細明體";
    color: #333;
}

main.WB002553_1 #problemsTxt #num4 li a {
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
}

main.WB002553_1 #problemsTxt #num4 li a.NOWTAB {
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/tabNow_bg2-1.png);
    color: #FFF;
}

main.WB002553_1 #problemsTxt #blockCon4 {
    clear: both;
    width: 2880px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

main.WB002553_1 #button {
    width: 204px;
    margin: 20px auto;
}

main.WB002553_1 #button p {
    width: 204px;
    height: 54px;
    float: left;
    text-indent: -9999px;
}

main.WB002553_1 #button #more_button {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/more_button.png) no-repeat left top;
}

main.WB002553_1 #button #more_button:hover {
    background-position: right top;
}

main.WB002553_1 #button0 {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

main.WB002553_1 #button0 p {
    width: 145px;
    height: 40px;
    float: left;
    text-indent: -9999px;
}

main.WB002553_1 #button0 #icon1 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_145x40_01.png) no-repeat left top;
    margin-left: 20px;
}

main.WB002553_1 #button0 #icon2 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_145x40_02.png) no-repeat left top;
    margin-left: 20px;
}

main.WB002553_1 #button0 #icon3 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_145x40_03.png) no-repeat left top;
    margin-left: 20px;
}

main.WB002553_1 #button0 #icon4 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_145x40_04.png) no-repeat left top;
    margin-left: 20px;
}

main.WB002553_1 #button0 #icon1:hover, main.WB002553_1 #button0 #icon2:hover, main.WB002553_1 #button0 #icon3:hover, main.WB002553_1 #button0 #icon4:hover {
    background-position: right top;
}

main.WB002553_1 #button_O {
    width: 715px;
    text-align: center;
    margin-top: 10px;
}

main.WB002553_1 #button_OC {
    width: 960px;
    text-align: center;
    margin-top: 10px;
    margin-left: 325px;
}

main.WB002553_1 .btn {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 15px;
}

main.WB002553_1 .btn a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg.png) no-repeat left top;
    font-weight: bold;
}

main.WB002553_1 .btn a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-position: right top;
}

main.WB002553_1 .rightList {
    display: none;
    position: fixed;
    top: 50%;
    right: 50px;
    z-index: 99;
    margin: -100px 0 0;
    font-size: 16px;
    font-family: Arial, "微軟正黑體";
    text-align: right;
}

main.WB002553_1 .rightLink {
    line-height: 50px;
    cursor: pointer;
    color: #333;
}

main.WB002553_1 .rightLink span {
    color: #666;
    font-size: 18px;
}

main.WB002553_1 .rightLink:hover, main.WB002553_1 .rightLink:hover span, main.WB002553_1 .rightLink.selelinked, main.WB002553_1 .rightLink.selelinked span {
    color: #e94609;
}

main.WB002553_1 #firBanner {
    height: 700px;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB002553_1 #firBanner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

main.WB002553_1 .sectionCont {
    width: 620px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

main.WB002553_1 #firBanner h2 {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 30px;
}

main.WB002553_1 #firBanner .sectionCont {
    display: inline-block;
    vertical-align: middle;
}

main.WB002553_1 .sectionbg {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00255301_5_bg.jpg) no-repeat top center fixed;
}

main.WB002553_1 .secBanWord {
    margin: 0 auto;
    font-size: 18px;
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 55px;
    line-height: 28px;
}

main.WB002553_1 #firBanner ul {
    width: 1000px;
}

main.WB002553_1 #firBanner ul li {
    float: left;
    margin-right: 100px;
    /*margin-right: 38px\9;*/
    cursor: pointer;
}

main.WB002553_1 #firBanner li:last-of-type {
    margin-right: 0;
}

main.WB002553_1 .circle {
    position: relative;
    width: 120px;
    height: 120px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/banIcon.png) no-repeat 0 center;
}

main.WB002553_1 #firBanner li.circleLi2 .circle {
    background-position: -220px center;
}

main.WB002553_1 #firBanner li.circleLi3 .circle {
    background-position: -440px center;
}

main.WB002553_1 #firBanner li:hover div {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/banIconHover.png) no-repeat 0 center;
}

main.WB002553_1 #firBanner li div.bancurr {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/guestIconHover.png) no-repeat 0 center;
}

main.WB002553_1 #firBanner li span {
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    margin-top: 18px;
    color: #000;
}

main.WB002553_1 .circle1:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 133%;
    margin-top: -10px;
    border-left: 20px solid #777777;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

main.WB002553_1 .secSect1 {
    width: 100%;
    min-width: 1000px;
    height: 765px;
}

main.WB002553_1 .secSec1Con {
    width: 1000px;
    margin: 0 auto;
}

main.WB002553_1 .secSec1Con h3 {
    position: relative;
    margin: 0;
    padding: 0;
    height: 145px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_a.png) no-repeat 0 0;
}

main.WB002553_1 .secSec1Con h3 span {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -195px;
    color: #e90909;
    font-size: 26px;
}

main.WB002553_1 .secSec1Con p {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #000;
    margin-top: 20px;
}

main.WB002553_1 .secSect1Dia {
    position: relative;
    height: 340px;
    margin-top: 40px;
}

main.WB002553_1 .secSect1Dia img {
    position: absolute;
}

main.WB002553_1 .dialog_a1 {
    left: 180px;
    top: 115px;
}

main.WB002553_1 .dialog_a2 {
    left: 425px;
    top: 0;
}

main.WB002553_1 .txt_a3 {
    right: 105px;
    top: 122px;
}

main.WB002553_1 .secSect1Dia span {
    position: absolute;
}

main.WB002553_1 .people_purchase {
    bottom: 10px;
    left: 50%;
    margin-left: -55px;
    width: 185px;
    height: 161px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/people_purchase.png) no-repeat center center;
}

main.WB002553_1 .secSectBg {
    width: 100%;
    min-width: 1000px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/WB00255301_5_bg.jpg) no-repeat top fixed;
}

main.WB002553_1 .secSec2Con h3 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_b.png) no-repeat 0 0;
}

main.WB002553_1 .secSec2Con .secSect1Dia {
    margin-top: 90px;
}

main.WB002553_1 .dialog_b1 {
    top: 0;
    left: 95px;
}

main.WB002553_1 .dialog_b2 {
    top: -10px;
    left: 380px;
}

main.WB002553_1 .dialog_b3 {
    top: -10px;
    right: 60px;
}

main.WB002553_1 .people_bom {
    left: 140px;
    bottom: 50px;
    width: 191px;
    height: 145px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/people_bom.png) no-repeat center;
}

main.WB002553_1 .people_warehouse {
    left: 410px;
    bottom: 50px;
    width: 190px;
    height: 155px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/people_warehouse.png) no-repeat center;
}

main.WB002553_1 .people_boss {
    right: 110px;
    bottom: 50px;
    width: 178px;
    height: 153px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/people_boss.png) no-repeat center;
}

main.WB002553_1 .secSec3Con h3 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_c.png) no-repeat 0 0;
}

main.WB002553_1 .dialog_c1 {
    top: 30px;
    left: 95px;
}

main.WB002553_1 .dialog_c2 {
    top: 60px;
    left: 400px;
}

main.WB002553_1 .dialog_c3 {
    top: 50px;
    right: 75px;
}

main.WB002553_1 .secSec3Con .people_boss {
    left: 140px;
    bottom: -15px;
}

main.WB002553_1 .secSec3Con .people_warehouse {
    left: 410px;
    bottom: -15px;
}

main.WB002553_1 .secSec3Con .people_sales {
    right: 130px;
    bottom: -15px;
    width: 170px;
    height: 140px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/people_sales.png) no-repeat center;
}
