@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}

main.WB00255301 #banner {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/bannerBg.jpg) no-repeat center top;
}

main.WB00255301 #banner.section {
    padding: 0;
}
/*main.WB00255301 .content {
	margin: 0 auto; width: 1000px;
}*/

main.WB00255301 #problems {
    padding-bottom: 0;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/demand_bg1.png) no-repeat center bottom;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00255301 h2 {
    font-size: 30px;
    color: #e94609;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin-bottom: 20px;
}

main.WB00255301 p {
    color: #333333;
}

main.WB00255301 .demand {
    margin: 0 auto;
	overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1000px;
    padding: 70px 0;
    font-size: 16px;
    line-height: 28px;
}

main.WB00255301 .sectionNote {
    padding: 0 30px;
    /*font-size: 16px;*/
    line-height: 27px;
    text-align: justify;
}

main.WB00255301 .highLight {
    color: #e94609;
    font-weight: bold;
}

main.WB00255301 .imgNote {
    text-align: center;
    font-size: 13px;
}

main.WB00255301 #problems .chart {
    position: relative;
    height: 495px;
    margin: 25px 0;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/demand_table_bg.png) no-repeat left top;
}

main.WB00255301 #problems .chart .left {
    position: absolute;
    z-index: 5;
    top: 22px;
    left: 0;
    width: 415px;
    margin: 0 0 0 19px;
    padding: 12px 38px 0 50px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/demand_chartDesbg.png) no-repeat left top;
    height: 495px;
}

main.WB00255301 #problems .chart .left li {
    margin: 0 0 19px;
    color: #fff;
    font-size: 18px;
    line-height: 23px;
}

main.WB00255301 #problems .chart .left li.highLight {
    color: #ffff00;
    font-weight: bold;
}

main.WB00255301 #problems .chart .right {
    position: absolute;
    z-index: 4;
    top: 22px;
    right: 70px;
    width: 465px;
    margin-top: 7px;
    color: #fff;
    text-align: right;
}

main.WB00255301 #problems .chart .right li {
    width: 0;
    height: 50px;
    margin: 0 0 16px;
    background-color: #ffba00;
    line-height: 50px;
}

main.WB00255301 #problems .chart .right .digital {
    display: none;
    margin-right: 15px;
    font-size: 18px;
}

main.WB00255301 #problems .chart .right .problem03,
main.WB00255301 #problems .chart .right .problem04,
main.WB00255301 #problems .chart .right .problem05,
main.WB00255301 #problems .chart .right .problem06 {
    background-color: #fccdb2;
}

main.WB00255301 #problems .callIn {
    margin-top: 60px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/demand_callin_bg.png) no-repeat center bottom;
}

main.WB00255301 #problems .callIn01 {
    margin-left: 270px;
}

main.WB00255301 #problems .callIn02 {
    margin: -40px 0 0 20px;
}

main.WB00255301 #problems .callIn03 {
    margin: 10px 0 30px 120px;
}

main.WB00255301 #demand2 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/bg2.jpg) no-repeat center top;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00255301 #button0 {
    width: 800px;
    margin: 0 auto;
    margin-top: 8px;
}

main.WB00255301 #button0 p {
    width: 204px;
    height: 45px;
    float: left;
    color: #fff;
    text-indent: -9999px;
}

main.WB00255301 #button0 #icon1 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg-1.png) no-repeat left top;
    margin-left: 60px;
}

main.WB00255301 #button0 #icon2 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg-2.png) no-repeat left top;
    margin-left: 30px;
}

main.WB00255301 #button0 #icon3 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/icon_bg-3.png) no-repeat left top;
    margin-left: 30px;
}

main.WB00255301 #button0 #icon1:hover, main.WB00255301 #button0 #icon2:hover, main.WB00255301 #button0 #icon3:hover {
    background-position: right top;
}

main.WB00255301 #demand3 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/bg3.jpg) no-repeat center top;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00255301 #plan1 {
    width: 480px;
    height: 400px;
    float: left;
    margin-top: 16px;
    text-align: center;
}

main.WB00255301 #plan2 {
    width: 480px;
    height: 400px;
    float: right;
    margin-top: 16px;
    text-align: center;
}

main.WB00255301 #section_case {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/hoffman.png) repeat;
    height: 900px;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00255301 #content {
    width: 1000px;
    margin: 0 auto;
}

main.WB00255301 #section_case #content h3 {
    font-size: 24px;
    margin: 40px 0px 20px 0px;
}

main.WB00255301 .txtbox {
    float: left;
    width: 480px;
    height: 320px;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: #CCC dotted 1px;
    margin-right: 10px;
}

main.WB00255301 .txtbox .txtbox_L {
    float: left;
    width: 200px;
    height: 190px;
}

main.WB00255301 .txtbox .txtbox_R {
    float: right;
    width: 270px;
    height: 190px;
}

main.WB00255301 .txtbox .txtbox_R h4 {
    font-size: 18px;
    line-height: 1.6;
    color: #e93030;
    margin: 0px;
    padding: 0px;
}

main.WB00255301 .txtbox .txtbox_R p {
    font-size: 16px;
    line-height: 22px;
    color: #101010;
    padding-bottom: 6px;
}

main.WB00255301 .txtbox .profile {
    float: left;
    width: 470px;
}

main.WB00255301 .txtbox .profile h5 {
    font-size: 15px;
    line-height: 1.6;
    color: #e93030;
}

main.WB00255301 .txtbox .profile p {
    font-size: 15px;
    line-height: 21px;
    color: #101010;
}

main.WB00255301 #button_R {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

main.WB00255301 .btnR {
    float: left;
    font-size: 16px;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
    width: 250px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 1px;
}

main.WB00255301 .btnR a {
    display: block;
    color: #e93030;
    text-decoration: none;
    border: #e93030 solid 1px;
}

main.WB00255301 .btnR a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #e93030;
    margin: 0 auto;
    border-bottom: #e93030 solid 1px;
}

main.WB00255301 #contactTxt p {
    color: #fff;
}

main.WB00255301 #seminar { width: 100%; background-color:#eeeeee;font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif; }
main.WB00255301 #banner_bg2 {
    width: 1000px;
	margin: 0 auto;
    height: 430px;
	}
main.WB00255301 #banner_bg2 h2 {
	width: 1000px;
	padding: 50px 0px 20px 0px;
	text-align: center;
	margin: 0 auto;
	color: #e84a16;
	font-size: 32px;
	
}
main.WB00255301 #banner_bg2 .txtbox {
    float: left;
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

main.WB00255301 #banner_bg2 .txtbox .txtbox_L {
    float: left;
    width: 300px;
    margin-right: 15px;
}

main.WB00255301 #banner_bg2 .txtbox .txtbox_R {
    float: right;
    width: 685px;
}

main.WB00255301 #banner_bg2 .txtbox .txtbox_R h3 {
    font-size: 20px;
    line-height: 1.6;
    color: #e84a16;
}

main.WB00255301 #banner_bg2 .txtbox .txtbox_R p {
    font-size: 16px;
    line-height: 1.6;
    color: #202020;
    padding-bottom: 20px;
	text-align: justify;
}

