@import '../common/variable';
@import '../common/helpers';
@import '../common/family';

.cast_popup {
    position: absolute !important;
    top: 16px;
    right: 0;
    bottom: 16px;
    left: 0;
    margin: auto;
    max-width: 1067px;
    max-height: 510px;
    width: 90%;
    opacity: 0;
    &_close {
        position: absolute;
        top: -16px;
        right: -16px;
        z-index: 1;
        width: 41px;
        height: 41px;
        border: 1px solid #ff714d;
        border-radius: 50%;
        background-color: #232121;
        background-image: url('~assets/images/popup-close.png');
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}
