/* #region function */
@function rem($px) {
    @return ($px / 16) + rem;
}

@function lineHeight($px, $fz: 16) {
    @return $px / $fz;
}

// Converting Photoshop Letter Spacing to CSS
@function getLetterSpacing($num) {
    @return ($num / 1000) + em;
}
/* #endregion function */

/* #region mixin */
@mixin imgBg($img, $pos: 50%) {
    background-image: url($img);
    background-position: $pos;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin bg($img, $pos: 50% 0) {
    background-image: url($img);
    background-position: $pos;
    background-repeat: no-repeat;
    @content;
}

@mixin btn($width, $height, $color, $bgColor, $radius: 0, $maxWidth: false, $display: block) {
    display: block;
    border-radius: $radius;
    background-color: $bgColor;
    color: $color;
    text-align: center;
    line-height: $height;

    @if ($maxWidth == true) {
        max-width: $width;
    }
    @else {
        width: $width;
    }

    @content
}

// 增加點擊範圍
// $width: 原寬度(false: 不增加)
// $height: 原高度(false: 不增加)
// $widthScope: 可點擊寬度
// $heightScope: 可點擊高度
@mixin clickableArea($width, $height, $widthScope: 44px, $heightScope: 44px) {
    position: absolute;
    content: '';

    // 寬度
    @if ($width != false) {
        right: -($widthScope - $width) / 2;
        left: -($widthScope - $width) / 2;
    }
    @else {
        right: 0;
        left: 0;
    }

    // 高度
    @if ($height != false) {
        top: -($heightScope - $height) / 2;
        bottom: -($heightScope - $height) / 2;
    }
    @else {
        top: 0;
        bottom: 0;
    }
}

@mixin stickyNav($totalLink, $height, $fontSize, $bgColor, $bgColor-active, $borderColor: #fff, $color: #fff, $color-active: #fff) {
    position: sticky;
    z-index: 3;
    box-sizing: content-box;
    width: 100%;
    background-color: $bgColor;
    .container {
        position: relative;
        display: flex;
        padding-right: 0;
        padding-left: 0;
        @media (min-width: $content-width + 1) {
            &::before,
            &::after {
                position: absolute;
                top: 5px;
                bottom: 5px;
                width: 1px;
                background-color: $borderColor;
                content: '';
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }
    a {
        position: relative;
        display: flex;
        padding-right: 5px;
        padding-left: 5px;
        width: (100% / $totalLink);
        height: $height;
        color: $color;
        text-align: center;
        font-size: $fontSize;
        line-height: 1.3;
        transition: background-color .2s;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile-width) {
            font-size: $fontSize - 4;
        }
        &.active {
            background-color: $bgColor-active;
        }
    }
}

// 手機版導覽列
@mixin mbnav($totalLink: 3, $height: 60px, $fontSize: 22px, $bgColor: #686868, $borderColor: #fff, $color: #fff, $bgColor-active: #e11921) {
    body {
        margin-bottom: $height;
    }
    .mbnav {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: map-get($z-index, nav);
        display: flex;
        li {
            width: (100% / $totalLink);
            background-color: $bgColor-active;
            &:not(:last-child) {
                border-right: 1px solid $borderColor;
                background-color: $bgColor;
            }
        }
    }
    .mbnav-link {
        display: block;
        width: 100%;
        height: $height;
        color: $color;
        text-align: center;
        font-size: $fontSize;
        line-height: $height;
    }
    @media (min-width: $min-width) {
        body {
            margin-bottom: 0;
        }
        .mbnav {
            display: none;
        }
    }
}

// 手機版導覽列(awd)
@mixin mbnav_awd($totalLink: 3, $height: 60px, $fontSize: 22px, $bgColor: #686868, $borderColor: #fff, $color: #fff, $bgColor-active: #e11921) {
    body {
        margin-bottom: $height;
    }
    .mbnav {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: map-get($z-index, nav);
        display: flex;
        li {
            width: (100% / $totalLink);
            background-color: $bgColor-active;
            &:not(:last-child) {
                border-right: 1px solid $borderColor;
                background-color: $bgColor;
            }
        }
    }
    .mbnav-link {
        display: block;
        width: 100%;
        height: $height;
        color: $color;
        text-align: center;
        font-size: $fontSize;
        line-height: $height;
    }
    html.no-mobile {
        body {
            margin-bottom: 0;
        }
        .mbnav {
            display: none;
        }
    }
}

// youtube嵌入
@mixin youtubeIframe() {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @content;
}
/* #endregion mixin */

/* #region extend */
%clearfix {
    &:before {
        display: table;
        content: '';
    }
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

%hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
/* #endregion extend */
