<div class="mobile">
    <header>
        <h1><img src="images/08/banner-m.jpg" alt="揭開智慧工廠的真相"></h1>
    </header>

    <article class="section1">
        <div class="container">
            <hgroup>
                <h1>生產進度看不見、庫存管不住</h1>
                <h2>如何降低管理風險？</h2>
            </hgroup>
            <img src="images/08/section1-dialogue1-s.png" class="wow animated fadeInLeft" alt="">
            <img src="images/08/section1-dialogue2-s.png" class="wow animated fadeInRight" alt="">
            <img src="images/08/section1-dialogue3-s.png" class="wow animated fadeInLeft" alt="">
            <img src="images/08/section1-illust.png" alt="廠長">
        </div>
    </article>

    <article class="section2">
        <h1><img src="images/08/section2-title-s.png" alt="走進智慧工廠 讓生產製造變得更智能"></h1>
        <div class="section2-content">
            <img src="images/08/section2-illust-s.png" alt="">
            <nav>
                <a href="#m-section3-1" class="js-nav"></a>
                <a href="#m-section3-2" class="js-nav"></a>
                <a href="#m-section3-3" class="js-nav"></a>
                <a href="#m-section3-4" class="js-nav"></a>
                <a href="#m-section3-5" class="js-nav"></a>
                <a href="#m-section3-6" class="js-nav"></a>
            </nav>
        </div>
    </article>

    <div class="section3">
        <article id="m-section3-1" class="section3-1">
            <hgroup>
                <h1>智物流</h1>
                <h2>物料帳務更一致</h2>
            </hgroup>
            <div class="container">
                <p>串聯條碼、移動設備、電子看板、ERP，打造從採購、領料、生產、倉儲到發貨及售後等智能化廠內全作業環節。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-1-illust.png" alt="">
                </div>
            </div>
        </article>
        <article id="m-section3-2" class="section3-2">
            <hgroup>
                <h1>智現場</h1>
                <h2>進度管控更透明</h2>
            </hgroup>
            <div class="container">
                <p>實現生產全程追溯，滿足企業在製品管理、品質控管、設備整合與管理、問題追溯分析、生產現場即時數據採集等需求。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-2-illust.png" alt="">
                </div>
                <ul>
                    <li>以區域角度管控所有設備及其任務</li>
                    <li>以人的角度管控設備及其任務</li>
                    <li>以流水線角度管控設備及其任務</li>
                </ul>
            </div>
        </article>
        <article id="m-section3-3" class="section3-3">
            <hgroup>
                <h1>智派工</h1>
                <h2>任務調度更快速</h2>
            </hgroup>
            <div class="container">
                <p>透過智能派工可根據產線班組、人員、設備情況進行資源整合與優化配置，為一線操作人員制定派工方案。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-3-illust.png" alt="">
                </div>
            </div>
        </article>
        <article id="m-section3-4" class="section3-4">
            <hgroup>
                <h1>智戰情</h1>
                <h2>行動決策更敏捷</h2>
            </hgroup>
            <div class="container">
                <p>IT 與 OT 數據整合打造生產調度中心，即時掌控人機料資訊，如生產進度，機臺稼動率等，提高工廠透明化與應變效率。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-4-illust.png" alt="">
                </div>
            </div>
            <a href="/tw/dsc/project/sFWR/sFWR.html" class="learnMore" target="_blank">了解方案</a>
        </article>
        <article id="m-section3-5" class="section3-5">
            <hgroup>
                <h1>智排程</h1>
                <h2>回應需求更彈性</h2>
            </hgroup>
            <div class="container">
                <p>快速掌握物料、產能供給狀況， 結合現場狀況重模擬，立即回應客戶新詢單/插單。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-5-illust.png" alt="">
                </div>
            </div>
        </article>
        <article id="m-section3-6" class="section3-6">
            <hgroup>
                <h1>工業APP</h1>
                <h2>設備水晶球</h2>
            </hgroup>
            <div class="container">
                <p>提升OEE更容易-精確掌控設備狀況與班組績效，隨時隨地瞭解設備投資收益，即時捕獲設備異常加速解決，幫助中、小、微型離散型製造業更快且容易提升企業OEE水準。</p>
                <div class="section3-illust">
                    <img src="images/08/section3-6-illust.png" alt="">
                </div>
                <a href="/tw/software/iiappcbe/index" class="learnMore" target="_blank">了解更多</a>
            </div>
        </article>
    </div>

    <article class="section4">
        <div class="container">
            <h1><img src="images/08/section4-title-s.png" alt="看得見的智能製造效益"></h1>
            <section>
                <h1>金屬行業典範</h1>
                <div class="section4-content">
                    <p>力肯實業</p>
                    <p>全流程展綜效 營運體質UP</p>
                    <p>僅僅在導入智能應用方案的兩個月，製造週期縮短六天，整體存貨金額降低一千四百萬元(降幅8.3%)，減少兩位帳務登打人力，且在帳料即時一致的狀態下，存貨資料的正確率達到100%。</p>
                </div>
            </section>
            <section>
                <h1>機械行業典範</h1>
                <div class="section4-content">
                    <p>東毓油壓</p>
                    <p>縮短開發時程 生產邁向新境界</p>
                    <p>簡化文管圖面流程與時間，透過PLM執行整機圖檔批次送出圖檔列印，速度有效提升60%；工程變更更有效率，資料正確性提升，圖料BOM資料與ERP無縫拋轉，加快研發生產速度。</p>
                </div>
            </section>
            <section>
                <h1>電子行業典範</h1>
                <div class="section4-content">
                    <p>創為精密</p>
                    <p>邁向智慧管理 創造高效交期</p>
                    <p>產線資源利用的掌握與調度變得更加靈活，關鍵設備的稼動率提升約6％；減少了產銷溝通與爭議，提升客戶滿意度，提升約10%訂單達交率。</p>
                </div>
            </section>
        </div>
    </article>
</div>
