[v-cloak] {
    display: none;
}
// dat.GUI
.dg.ac {
    z-index: 99;
}
main {
    min-width: 414px;
    font-size: 18px;
    line-height: 1.75;
    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: $content-width;
        @media (min-width: $content-width) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .mainTitle {
        font-weight: bold;
        font-size: 30px;
    }
    .sectionTitle {
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: center;
        font-size: 26px;
        line-height: 1.3;
        @media (min-width: $tablet-width + 1) {
            font-size: 36px;
        }
    }
    .sectionDesc {
        margin-top: -1em;
        margin-bottom: 2em;
    }
    .btn {
        display: block;
        width: 100%;
        height: 60px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 60px;
        cursor: pointer;
        @media (min-width: $tablet-width + 1) {
            width: 348px;
            height: 75px;
            font-size: 24px;
            line-height: 75px;
        }
        &.arrow-l {
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                margin-right: 10px;
                width: 33px;
                height: 33px;
                background: inline-image('btn-arrow-l.png') 50%/contain no-repeat;
                content: '';
            }
        }
        &.arrow-d {
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                margin-left: 10px;
                width: 33px;
                height: 33px;
                background: inline-image('btn-arrow-d.png') 50%/contain no-repeat;
                content: '';
            }
        }
    }
}