<slider-banner-s v-if="isMobile" v-bind:slides="result.member.banner" device="mobile"></slider-banner-s>
<slider-banner v-else v-bind:slides="result.member.banner" device="desktop"></slider-banner>

<article class="section1">
    <div class="container">
        <section-title
            title="會員營銷診斷清單"
            desc="在你口袋的，是你真正的會員嗎？<br>會員經營與行銷專案的規劃執行，是否有所疑惑？"
        ></section-title>
        <checklist :lists="result.member.checklist"></checklist>
    </div>
</article>

<div class="section2">
    <slider id="1">
        <template slot="left">
            <section>
                <section-title
                    title=""
                    desc=""
                ></section-title>
                <img src="images/member/section2-left.png" alt="">
                <label for="slider-toggle1"><i class="material-icons">arrow_forward</i></label>
            </section>
        </template>
        <template slot="right">
            <section>
                <section-title
                    title=""
                    desc=""
                ></section-title>
                <img src="images/member/section2-right.png" alt="">
                <label for="slider-toggle1"><i class="material-icons">arrow_back</i></label>
            </section>
        </template>
    </slider>
</div>

<div class="section3">
    <slider id="2">
        <template slot="left">
            <section>
                <section-title
                    title=""
                    desc=""
                ></section-title>
                <img src="images/member/section3-left.png" alt="">
                <label for="slider-toggle2"><i class="material-icons">arrow_forward</i></label>
            </section>
        </template>
        <template slot="right">
            <section>
                <section-title
                    title=""
                    desc=""
                ></section-title>
                <img src="images/member/section3-right.png" alt="">
                <label for="slider-toggle2"><i class="material-icons">arrow_back</i></label>
            </section>
        </template>
    </slider>
</div>

<div class="section4">
    <section-title title=""></section-title>
    <img src="images/member/section4-illust.png" alt="">
</div>

<contact v-bind:multiple="false" source=""></contact>