/* #region 活動結束-索取資料banner */
#end_banner {
    position: fixed;
    bottom: 0;
    display: none;
    margin: 0 auto;
    width: 100%;
    background: url(https://www.digiwin.com/tw/dsc/images/event_end_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #868484;
    text-align: center;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        border: 0;
        vertical-align: top;
    }
}
/* #endregion 活動結束-索取資料banner */
