@import 'bootstrap/custom';
@import 'common';
@import 'subscribe';

.list-case-show {
    position: relative;
}
.articleCover {
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: -50px;
    z-index: 1;
    display: none;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0) 30%, #fff 40%, #fff 0);
    pointer-events: none;
    @at-root {
        .list-case-show.no-login .articleCover {
            display: block;
        }
    }
    a {
        @extend %hide-text;
        position: absolute;
        top: calc(40% + 2em);
        left: calc(50% - 107.5px);
        width: 215px;
        height: 44px;
        background: image-url('lineMember/btn.png') 50%/contain;
        pointer-events: auto;
        @at-root {
            html.no-mobile .articleCover a:hover {
                background-image: image-url('lineMember/btn-h.png');
            }
        }
    }
}

// 上線後表單上方間距
.list-case {
    margin-bottom: 170px;
    @media (max-width: 414px) {
        margin-bottom: 275px;
    }
}