extends ../layout.pug

block includes
    //- link(rel="preload", href="images/mag201909/banner.jpg", as="image")
    link(rel='stylesheet', href='css/mag201909/style.css')
    script(src='js/mag201909.min.js', defer)

block content
    include mag201909.html