<main-header>
    <template slot="content">
        <storm v-if="!isMediumWidth"></storm>
        <div class="content">
            <div class="content-text">
                <h2>數位化轉型價值起點</h2>
                <h1><img src="images/mag201909/header-title.png" alt="數據賦能"></h1>
                <p>
                    數位化技術加持，<br>
                    數據&流程混合驅動企業數字變革。<br>
                    從數據積累到數據紅利，
                </p>
                <strong>賦能數位化轉型新風口已經到來！</strong>
            </div>
            <div class="content-nav">
                <a href="" class="btn">數位轉型</a>
                <a href="" class="btn">精選文章</a>
                <a href="" class="btn">封面故事</a>
                <a href="" class="btn">專題報導</a>
                <a href="" class="btn">應用價值</a>
                <a href="" class="btn">特別企劃</a>
                <a href="" class="btn">企業典範</a>
                <a href="" class="btn">生活人文</a>
            </div>
        </div>
    </template>
</main-header>

<!-- <robot v-if="!isMobile"></robot> -->