<div id="WB002811" class="WB002811_index">
    <div id="indBanner" class="section">
        <div class="indBanner-inner">
            <a href="WB00281101_research.html">
                <h1>搶攻AM市場，交期怎麼縮短？</h1>
                <p class="pageDesc">客戶以前下單給你二十天出貨，現在只給你十天，消失了十天如何交貨？</p>
            </a>
        </div>
    </div>
    
    <div id="foreword" class="section">
        <div class="content">
            <h2>各家大廠都想爭奪AM市場這塊大餅，您準備好了嗎？</h2>
            <p class="sectionDesc-center">有家彰化的老客戶，後視鏡產品銷售偏及歐洲、中南美洲、美國及大陸等約44個國家，
                <br>市場開拓能力強勁，研發部門每年開發超過50個新車種，並且持續倍數成長中客戶告訴我們AM市場就是...
                <br>
                <strong class="highLight">品質+價格+交期=取得訂單關鍵</strong>
            </p>
    
            <!-- slider -->
            <div class="swiper-container">
                <div class="newsGroup swiper-wrapper">
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="http://www.chinatimes.com/newspapers/20160411000269-260210" target="_blank">記銘汽車後視鏡創新能力領先</a>
                            </h4>
                            <p> 至於中國大陸潛力雄厚的汽車AM市場，更被黃宗銘寄予厚望，決以自建鷹悍士(EHS)品牌與銷售通路切入。他強調，中國大陸汽車年銷售量已...</p>
                            <p class="date">2016/4/11 中時電子報</p>
                        </div>
                    </div>
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="http://www.chinatimes.com/newspapers/20170405000153-260206" target="_blank">正新建大布局雙印啟動投產</a>
                            </h4>
                            <p>正新印尼廠的機車胎同樣也先搶攻AM市場，並在取得原廠認證後，兼做OE市場。由於東協各國之間的產品進出口，均享受免關稅優惠，所以印尼廠...</p>
                            <p class="date">2017/4/5 中時電子報</p>
                        </div>
                    </div>
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="http://www.chinatimes.com/realtimenews/20170417002595-260410" target="_blank">《電機股》北美AM市場可望穩定成長，耿鼎營運正面看待</a>
                            </h4>
                            <p>耿鼎主攻北美AM市場，北美營收占比達7成，產品主要為引擎蓋及葉子板，2015年提列反托拉斯賠償，2016年沒有罰金影響，全年正式轉為獲利...</p>
                            <p class="date">2017/4/17 中時電子報</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
    
        </div>
    </div>
    
    <div class="getOrder clearfix">
        <h3 class="getOrder-title">搶單就像打戰，這些狀況只會愈來愈多！</h3>
        <ul class="getOrder-list">
            <li>客戶要求更高品質、更短交期</li>
            <li>更多、更複雜的客製化</li>
            <li>更嚴苛的成本競爭</li>
            <li>更高的存貨呆滯風險</li>
            <li>研發能力跟不上市場的需求......</li>
        </ul>
        <a href="WB00281101_research.html" class="pageLink-bgColor">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </div>
    
    <div id="quality" class="section">
        <div class="content">
            <h2>從接單就開始進行品質管理</h2>
            <p class="sectionDesc-center">某公司副總接獲客訴，得知產品出貨後造成客戶重大損失，客戶要求三天內必須提出改善報告，
                <br>大家都知道要先釐清問題出在哪裡？但要怎麼找出問題才是大難題？</p>
            <div class="jobProblem clearfix">
                <div class="txt txt01">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people02.svg" alt="業務的困擾">
                            <p>業務</p>
                        </div>
                        <div class="jobProblem-txtLayer-mb">
                            <p>8D report 、FMEA...這些文件都是紙本管理，無法快速查找品質相關所有文件...</p>
                            <p>客戶對公司不信任，以後可能不會再下單了...</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>8D report 、FMEA...這些文件都是紙本管理，無法快速查找品質相關所有文件...</p>
                            <p>客戶對公司不信任，以後可能不會再下單了...</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="txt txt02">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people03.svg" alt="品保的困擾">
                            <p>品保</p>
                        </div>
                        <div class="jobProblem-txtLayer-mb">
                            <p>生產及品質相關資料都是紙本記錄，無法快速追溯生產履歷資料。</p>
                            <p>品質檢測都用人工記錄，繁瑣又容易錯誤，而且需要耗費時間做管制圖表及檢驗報告。</p>
                            <p>品檢規範皆紙本文件，與品號無連結，QC無法快速調閱品檢規範。</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>生產及品質相關資料都是紙本記錄，無法快速追溯生產履歷資料。</p>
                            <p>品質檢測都用人工記錄，繁瑣又容易錯誤，而且需要耗費時間做管制圖表及檢驗報告。</p>
                            <p>品檢規範皆紙本文件，與品號無連結，QC無法快速調閱品檢規範。</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <a class="pageBtn-normal" href="WB00281101_quality.html">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 維持品質從預防異常開始，您可以這樣作！</a>
        </div>
    </div>
    
    <!-- 研討會資訊 -->
    <div class="seminarInfo section">
        <h2>研討會資訊</h2>
        <div class="seminarInfo-content content">
            <img class="seminarInfo-illu" src="images/index/seminarInfo-illu.png" alt="">
            <div class="seminarInfo-text">
                <h3>以品質優勢創造未來利基 IATF 16949轉版挑戰與因應之道</h3>
                <p>
                    如何通過驗證？取得證書後，該如何落實品質管理系統？
                    <br> 本次研討會特邀曾帶領企業榮獲國家品質獎，且富有數十間國際汽車電子大廠稽核主導經驗的BSI英國標準協會講師，剖析這一年來，企業進行新版 IATF 16949驗證常見問題，以及通過驗證之後，企業各部門環節的因應重點，探討如何透過資訊化的輔助落實研發及製造程序，讓搶攻車用市場的企業能順利通過品質驗證更能透過品質管理優化推動營運成長，掌握未來車業破億商機！
                </p>
                <a class="seminarInfo-btn pageLink-bgColor" href="https://www.digiwin.com/tw/dsc/activity/WB002870/WB00287001.htm" target="_blank">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    了解更多課程內容
                </a>
            </div>
        </div>
    </div>
    
    <div id="case" class="section">
        <div class="content">
            <h2>輔導案例</h2>
            <div class="caseGroup clearfix">
                <div class="list">
                    <img src="images/case/img_caseList01.jpg" alt="記銘工業">
                    <div class="outline clearfix">
                        <span class="type">後視鏡製造</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/626.html" target="_blank">記銘工業</a>
                        </h3>
                        <p class="desc">客人明天要出貨，我們可以馬上回答他可不可以，並準確跟客戶講哪天可以交貨，這是公司近幾年營收能成長10%~15%的主因....</p>
                        <a href="https://www.digiwin.com/tw/case/626.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList02.jpg" alt="漢育工業">
                    <div class="outline clearfix">
                        <span class="type">汽車零件電動窗</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1502.html" target="_blank">漢育工業</a>
                        </h3>
                        <p class="desc">廖總經理提到：「只要有系統可以協助人員管理，就要適時的導入，傻瓜的事交給電腦，人員才有時間精進及管理改善。」</p>
                        <a href="https://www.digiwin.com/tw/case/1502.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList03.jpg" alt="詠勝昌">
                    <div class="outline clearfix">
                        <span class="type">汽車零組件</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1525.html" target="_blank">詠勝昌</a>
                        </h3>
                        <p class="desc">各單位主管能直接登入BI系統取得分析資訊；國外則由副總親自對總裁報告分析內容及系統操作方法，讓總裁能利用BI系統快速了解台灣經營狀況。</p>
                        <a href="https://www.digiwin.com/tw/case/1525.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList04.jpg" alt="亞生特電業">
                    <div class="outline clearfix">
                        <span class="type">汽機車組立配線</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/567.html" target="_blank">亞生特電業</a>
                        </h3>
                        <p class="desc">一個專案向前規範與了解，多半起源於『需求』，不論是管理高層的需求、產品的進步，或是任務完成的需求，透過專案運作勢必能得到一波成長。</p>
                        <a href="https://www.digiwin.com/tw/case/567.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="solution" class="section">
        <div class="content">
            <h2>汽車零件產業完整解決方案</h2>
            <p class="sectionDesc-center">以速度創造競爭優勢，取得市場先機；用彈性打造智能現場，獲取更多訂單！
                <br>從預防異常維持品質，訂單接二連三；由降低浪費掌控成本，提升訂單利潤！</p>
            <img src="images/index/img_solution.svg" alt="以快為師，翻轉企業運營效益">
        </div>
    </div>
</div>