@import '../common/variable';
@import '../common/helpers';
@import '../common/family';

$endBanner-hidden-height: 50px;
.endBanner {
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    background-image: url('~assets/images/event-end/event_end_bg.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    transition: transform .4s;
    &.is-hidden {
        transform: translateY(calc(100% - #{$endBanner-hidden-height}));
        .endBanner-main {
            opacity: 0;
            pointer-events: none;
        }
        .endBanner-open {
            opacity: 1;
            pointer-events: auto;
        }
    }
    &-main {
        transition: opacity .4s;
    }
    &-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &-container {
        position: relative;
        margin: 0 auto;
        max-width: 1000px;
    }
    &-img {
        max-width: 100%;
        vertical-align: middle;
    }
    &-close {
        @include imgBg('~assets/images/event-end/close-icon.png');
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        width: 30px;
        height: 30px;
        &::before {
            @include clickableArea(30px, 30px);
        }
    }
    &-open {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: $endBanner-hidden-height;
        color: #fff;
        text-align: center;
        letter-spacing: getLetterSpacing(75);
        font-size: 20px;
        line-height: 1;
        opacity: 0;
        transition: opacity .4s;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        &::before {
            @include imgBg('~assets/images/event-end/open-icon.png');
            margin-bottom: 5px;
            width: 32px;
            height: 10px;
            content: '';
        }
    }
}
