@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB00267501_5 {
    /*研討會內容開始*/
}

main.WB00267501_5 body, main.WB00267501_5 html {
    /*height: 100%;*/
    /*overflow: hidden;*/
    width: 100%;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
    background-image: url();
}

main.WB00267501_5 .section {
    width: 100%;
    /*height: 100%;*/
    background: #fff;
    font-size: 0;
    text-align: center;
    font-size: 0;
    position: relative;
}

main.WB00267501_5 .section1 {
    /*height: 100%;*/
    position: relative;
    /*overflow: hidden;*/
}

main.WB00267501_5 #event {
    width: 1000px;
	height: 5000px;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 70px;
    font-size: 16px;
    line-height: 30px;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00267501_5 h2 {
    font-size: 26px;
    color: #eb1a4a;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

main.WB00267501_5 h3 {
    font-size: 18px;
    color: #ca6002;
    text-align: center;
    line-height: 35px;
    margin: 10px;
}

main.WB00267501_5 .section p {
    font-size: 15px;
    color: #333333;
    line-height: 22px;
}

main.WB00267501_5 #event_menu {
    width: 1000px;
    height: 36px;
    margin-bottom: 50px;
}

main.WB00267501_5 #event_menu ul {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 25px;
}

main.WB00267501_5 #event_menu li {
    float: left;
    width: 130px;
    margin-right: 30px;
    font-size: 15px;
}

main.WB00267501_5 #event_menu li a {
    text-decoration: none;
}

main.WB00267501_5 #event_menu li a:hover {
    text-decoration: underline;
    color: #eb1a4a;
}

main.WB00267501_5 .txtbox {
    float: left;
    width: 1000px;
    margin-bottom: 20px;
}

main.WB00267501_5 .txtbox h2.AA {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg1.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox h2.CC {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg3.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox h2.FF {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg6.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox .txtbox_L {
    float: left;
    width: 320px;
    height: 200px;
    margin: 20px;
}

main.WB00267501_5 .txtbox .txtbox_R {
    float: left;
    width: 620px;
    height: 178px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.A {
    font-size: 18px;
    line-height: 40px;
    color: #d44d46;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.B {
    font-size: 18px;
    line-height: 40px;
    color: #ca6002;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.C {
    font-size: 18px;
    line-height: 40px;
    color: #eb1a4a;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.D {
    font-size: 18px;
    line-height: 40px;
    color: #7aab12;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.E {
    font-size: 18px;
    line-height: 40px;
    color: #2f8ed8;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R h4.F {
    font-size: 18px;
    line-height: 40px;
    color: #ba49ad;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox .txtbox_R p {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #333333;
}

main.WB00267501_5 .txtbox1 {
    float: left;
    width: 1000px;
    border-bottom: #c0c0c0 1px solid;
}

main.WB00267501_5 .txtbox1 h2.BB {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg2.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox1 h2.DD {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg4.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox1 h2.EE {
    width: 1000px;
    height: 35px;
    background-image: url(https://www.digiwin.com/tw/dsc/solution/WB002675/images/event_title_bg5.jpg);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

main.WB00267501_5 .txtbox1 .txtbox_L {
    float: left;
    width: 320px;
    height: 200px;
    margin: 20px;
}

main.WB00267501_5 .txtbox1 .txtbox_R {
    float: left;
    width: 620px;
    height: 178px;
}

main.WB00267501_5 .txtbox1 .txtbox_R h4.B {
    font-size: 18px;
    line-height: 40px;
    color: #ca6002;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox1 .txtbox_R h4.D {
    font-size: 18px;
    line-height: 40px;
    color: #7aab12;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox1 .txtbox_R h4.E {
    font-size: 18px;
    line-height: 40px;
    color: #2f8ed8;
    text-align: left;
    margin-top: 10px;
}

main.WB00267501_5 .txtbox1 .txtbox_R p {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #333333;
}

main.WB00267501_5 .txtbox1a {
    float: left;
    width: 1000px;
    margin-bottom: 20px;
    border-bottom: #c0c0c0 1px solid;
}

main.WB00267501_5 .txtbox1a .txtbox_L {
    float: left;
    width: 320px;
    height: 200px;
    margin: 20px;
}

main.WB00267501_5 .txtbox1a .txtbox_R {
    float: left;
    width: 620px;
    height: 178px;
}

main.WB00267501_5 .txtbox .txtbox_but {
    float: left;
    width: 620px;
}

main.WB00267501_5 #button_R {
    text-align: center;
    margin-top: 10px;
}

main.WB00267501_5 .btnR {
    float: left;
    font-size: 16px;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 15px;
}

main.WB00267501_5 .btnR a {
    display: block;
    color: #e93030;
    text-decoration: none;
    border: #e93030 solid 1px;
}

main.WB00267501_5 .btnR a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #e93030;
    margin: 0 auto;
    border-bottom: #e93030 solid 1px;
}

main.WB00267501_5 #contact {
    clear: both;
}
