/* #region function */
/* #endregion function */
/* #region mixin */
/* #endregion mixin */
/* #region extend */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #endregion extend */
main {
  color: #000;
  font-size: 100%;
  line-height: initial;
}
main .container {
  padding: 0;
  width: auto;
}
main h1, main h2, main h4, main h5 {
  padding: 0;
  color: inherit;
  font-weight: normal;
  font-size: 100%;
  line-height: inherit;
}
main i {
  font-style: normal;
}

main {
  min-width: 360px;
  font-size: 18px;
  line-height: 1.6;
}
main .container {
  margin: 0 auto;
  max-width: 1200px;
}
main .mainTitle {
  font-weight: bold;
  font-size: 30px;
}
main .sectionTitle {
  font-size: 26px;
}

html.no-mobile .beforeSliderToggle:hover {
  background-color: #ea4f52;
  color: #fff;
}

.video {
  margin: 0 auto;
  max-width: 670px;
}
.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 */
  width: 100%;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .container {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  main .container {
    padding-right: 0;
    padding-left: 0;
  }
}
main .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url('../images/../images/WB00267501_15/header-bg.jpg?1553074739');
  color: #fff;
}
main .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .header h1 {
  margin-bottom: .2em;
  font-size: 30px;
  line-height: 40px;
}
@media (min-width: 768px) {
  main .header h1 {
    font-size: 36px;
  }
}
main .header h1 strong {
  color: #fffc00;
  font-weight: bold;
}
main .header h1 i {
  display: inline-block;
}
main .header h2 {
  font-size: 20px;
  line-height: 26px;
}
main .sectionTitle {
  margin-bottom: 1em;
  padding-top: 1em;
}
@media (min-width: 768px) {
  main .sectionTitle {
    text-align: center;
    font-size: 36px;
  }
}
main .section1 {
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  main .section1 {
    padding-bottom: 46px;
  }
}
main .section2 {
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  main .section2 {
    padding-bottom: 46px;
  }
}
main .section3 {
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  main .section3 {
    padding-bottom: 46px;
  }
}
main .section4 {
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  main .section4 {
    padding-bottom: 46px;
  }
}
main .section5 {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  main .section5 {
    padding-bottom: 0;
  }
}
main .section6 {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  main .section6 {
    padding-bottom: 70px;
  }
}
main .section2 {
  background-color: #ffd4d5;
}
main .section2 img {
  display: block;
  margin: 0 auto;
}
main .section3 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url('../images/WB00267501_15/section3-bg.jpg?1553074739');
  background-size: cover;
}
@media (min-width: 768px) {
  main .section3 {
    background-size: auto;
  }
}
main .section3 h1 {
  text-align: center;
}
main .section3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  main .section3 .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main .section3 img {
  display: block;
}
main .section3 img:first-child {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  main .section3 img:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
main .section4 h1 {
  text-align: center;
}
main .section4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  main .section4 .content {
    display: block;
  }
}
main .section4 dl {
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: 768px) {
  main .section4 dl {
    display: none;
  }
}
main .section4 dt {
  color: #dd2b55;
}
main .section4 dd {
  padding-left: 1em;
  color: #333;
}
main .section4 img {
  display: none;
}
@media (min-width: 768px) {
  main .section4 img {
    display: block;
    margin: 0 auto;
  }
}
main .section5 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url('../images/WB00267501_15/section5-bg.jpg?1553074739');
  position: relative;
}
main .section5::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 70px 100px 0 100px;
  border-style: solid;
  border-color: #fed400 transparent transparent transparent;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .section5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  main .section5 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    padding-top: 0;
    height: 430px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
main .section5 h1 {
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  main .section5 h1 {
    margin: 0 20px 0 0;
  }
}
main .section5-illust {
  margin: 0 auto;
}
@media (min-width: 768px) {
  main .section5-illust {
    margin-right: 0;
    margin-left: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
main .section5 img {
  display: block;
}
main .section6 {
  background-color: #f8e96c;
}
main .section6 .container {
  padding-top: 70px;
}
main .section6 .sectionTitle {
  margin-bottom: .5em;
  padding-top: 20px;
}
main .section6-subtitle {
  color: #dd2b55;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 768px) {
  main .section6-subtitle {
    text-align: center;
    font-size: 24px;
  }
}
main .section6-subtitle:first-of-type {
  margin-bottom: .5em;
}
@media (min-width: 768px) {
  main .section6-subtitle:first-of-type {
    margin-bottom: 0;
  }
}
main .section6 img {
  display: block;
  margin: 30px auto;
}





/*# sourceMappingURL=WB00267501_15.css.map */
