@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}

main.WB00255301_produce .subPage {
    margin-top: 25px;
}

main.WB00255301_produce .subPage h3 {
    margin: 0 0 15px;
    font-size: 30px;
    text-align: left;
}

main.WB00255301_produce .subPage .textLeft {
    text-align: left;
}

main.WB00255301_produce .subPage .textCenter {
    text-align: center;
}


main.WB00255301_produce .subPage .quotaOrange,
main.WB00255301_produce .subPage .quotaYellow {
    position: relative;
    margin: 50px auto;
    padding: 25px 45px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 27px;
}

main.WB00255301_produce .subPage .quotaOrange:before,
main.WB00255301_produce .subPage .quotaYellow:before {
    content: "";
    position: absolute;
    top: -35px;
    left: 20px;
    width: 49px;
    height: 49px;
}

main.WB00255301_produce .subPage .quotaOrange:after,
main.WB00255301_produce .subPage .quotaYellow:after {
    content: "";
    position: absolute;
    bottom: -35px;
    right: 20px;
    width: 49px;
    height: 49px;
}

main.WB00255301_produce .picsPage:nth-of-type(even) {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/produce/bg_produce.jpg) no-repeat center center fixed;
}

main.WB00255301_produce html, main.WB00255301_produce body {
    height: 100%;
}

main.WB00255301_produce .MBtn {
    display: block;
    width: 500px;
    line-height: 60px;
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e94609;
    letter-spacing: 1px;
    cursor: pointer;
}

main.WB00255301_produce .MBtn a {
    display: block;
    color: #e94609;
}

main.WB00255301_produce .MBtn a:hover {
    display: block;
    width: 500px;
    line-height: 60px;
    margin: 0px auto;
    font-size: 24px;
    text-align: center;
    background-color: #e94609;
    color: #fff;
    letter-spacing: 1px;
}

main.WB00255301_produce #picsTop {
    height: 700px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 23px;	
}

main.WB00255301_produce #picsTop:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

main.WB00255301_produce #picsTop .content {
    display: inline-block;
    vertical-align: middle;
}

main.WB00255301_produce #picsTop.subPage h2 {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
}

main.WB00255301_produce #picsTop.subPage p {
    margin-bottom: 104px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

main.WB00255301_produce #picsTop .circle {
    position: relative;
    width: 125px;
    height: 125px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/produce/produceIcon01.png) no-repeat left top #e97d09;
}

main.WB00255301_produce #picsTop ul {
    display: inline-block;
}

main.WB00255301_produce #picsTop ul li {
    width: 200px;
}

main.WB00255301_produce #picsTop .circle:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -12px;
    /*border-top: 20px solid #00afe9;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;*/
}

main.WB00255301_produce #picsTop li:nth-of-type(3) .circle:before {
    display: none;
}

main.WB00255301_produce #picsTop li h4 {
    width: 65%;
    margin: 20px auto 0;
    /*	padding: 3px 0;
	border-radius: 7px;*/
}

main.WB00255301_produce #picsTop li:hover .circle {
    background-color: #ff0000;
    cursor: pointer;
}

main.WB00255301_produce #picsTop li:nth-of-type(1) .circle {
    background-position: 0 top;
	
}

main.WB00255301_produce #picsTop li:nth-of-type(2) .circle {
    background-position: -125px top;
	
}

main.WB00255301_produce #picsTop li:nth-of-type(3) .circle {
    background-position: -250px top;
}

main.WB00255301_produce #picsTop li:nth-of-type(4) .circle {
    background-position: -375px top;
}

main.WB00255301_produce .picsDetail .content {
    overflow: hidden;
}

main.WB00255301_produce .picsContent {
    position: relative;
    width: 2000px;
}

main.WB00255301_produce .picsProblem, main.WB00255301_produce .picsSolition {
    width: 1000px;
    float: left;
}

main.WB00255301_produce .rightList {
    display: none;
    position: fixed;
    top: 30%;
    right: 20px;
    z-index: 99;
    margin: -100px 0 0;
    font-size: 18px;
    font-family: Arial, "微軟正黑體";
    text-align: right;
}

main.WB00255301_produce .rightLink {
    line-height: 50px;
}

main.WB00255301_produce .rightLink a:hover, main.WB00255301_produce .rightLink.selected a {
    color: #e94609;
}

main.WB00255301_produce .picsProblem h3,
main.WB00255301_produce .picsSolition h3 {
    position: relative;
    height: 145px;
    padding-left: 180px;
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/produce/picsTitle.png) no-repeat left top;
    font-size: 26px;
    line-height: 27px;
    margin-bottom: 50px;
}

main.WB00255301_produce #Block02 .picsProblem h3,
main.WB00255301_produce #Block02 .picsSolition h3 {
    background-position: left -145px;
}

main.WB00255301_produce #Block03 .picsProblem h3,
main.WB00255301_produce #Block03 .picsSolition h3 {
    background-position: left -290px;
    font-size: 26px;
}

main.WB00255301_produce #produce .picsProblem h3,
main.WB00255301_produce #produce .picsSolition h3 {
    background-position: left -465px;
}

main.WB00255301_produce .picsSolition h3 {
    font-size: 30px;
}

main.WB00255301_produce #Block02 .picsSolition h3,
main.WB00255301_produce #produce .picsSolition h3,
main.WB00255301_produce #Block01 .picsSolition h3 {
    font-size: 26px;
}

main.WB00255301_produce #Block01 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/gray_bg.jpg) no-repeat center center;
}

main.WB00255301_produce #Block03 {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/gray_bg.jpg) no-repeat center center;
}

main.WB00255301_produce .picsProblem span,
main.WB00255301_produce .picsSolition span {
    position: absolute;
    text-align: center;
    bottom: -15px;
    /*	left: 261px;*/
    width: 730px;
    height: 53px;
}

main.WB00255301_produce .picsProblem span {
    font-size: 26px;
    text-align: center;
}

main.WB00255301_produce .picsSolition span {
    bottom: -20px;
}

main.WB00255301_produce #Block01 .picsProblem span {
    bottom: -20px;
}


main.WB00255301_produce .picsPage .quota {
    width: 720px;
    padding: 25px 0 25px 15px;
    margin: 0 auto 50px;
    font-size: 19px;
    border: 1px solid #ff8d00;
}

main.WB00255301_produce .picsPage .quota h4 {
    margin: 0;
    padding-left: 15px;
    color: #ff8d00;
    font-size: 21px;
    text-align: right;
}

main.WB00255301_produce .picsPage .quota ul {
    width: 550px;
    margin: 0 0 0 25px;
    list-style: disc outside;
}

main.WB00255301_produce .picsPage .quota li {
    width: 45%;
    margin: 0 0 0 15px;
    line-height: 30px;
}

main.WB00255301_produce #Block01.picsPage .quota h4 {
    margin: 10px 0 0;
}

main.WB00255301_produce #Block01.picsPage .quota ul {
    width: 530px;
}

main.WB00255301_produce #Block02.picsPage .quota h4 {
    font-size: 21px;
}

main.WB00255301_produce #Block02.picsPage .quota ul {
    width: 550px;
    list-style: disc outside;
}

main.WB00255301_produce #Block02.picsPage .quota li:nth-of-type(odd) {
    width: 60%;
    margin: 0 0 0 10px;
}

main.WB00255301_produce #Block02.picsPage .quota li:nth-of-type(even) {
    width: 35%;
    margin: 0 0 0 10px;
}

main.WB00255301_produce #Block03.picsPage .quota li:nth-of-type(1),
main.WB00255301_produce #produce.picsPage .quota li:nth-of-type(1) {
    width: 90%;
}

main.WB00255301_produce .picsPage .btnGroup {
    width: 335px;
    margin: 0 auto;
}

main.WB00255301_produce .picsPage .btn {
    width: 165px;
    line-height: 45px;
    background-color: #949494;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

main.WB00255301_produce .picsPage .btn:hover {
    background-color: #f99260;
}

main.WB00255301_produce .picsPage .btn.now {
    background-color: #e90909;
}

main.WB00255301_produce .picsPage .btn.now:hover {
    background-color: #f99260;
}

main.WB00255301_produce .picsProblem .quotaOrange {
    width: 630px;
    margin-top: 0;
    border: 2px solid #ff8d00;
    font-size: 21px;
}

main.WB00255301_produce #picsCourse.subPage {
    padding-top: 20px;
}
