@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB00255301_case *, main.WB00255301_case *:before, main.WB00255301_case *:after {
    box-sizing: content-box;
}
main.WB00255301_case body {
    font-family: "微軟正黑體", "新細明體", Arial;
    background-color: #FFF;
}

main.WB00255301_case #section_case {
    background: url(https://www.digiwin.com/tw/dsc/solution/WB002553/images/hoffman.png) repeat;
    height: auto;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}

main.WB00255301_case h2 {
    width: 100%;
    font-size: 32px;
    line-height: 32px;
    margin: 30px 0px 10px 0px;
    color: #e94609;
}

main.WB00255301_case #section_case #content {
 	width: 1000px;
    margin: 0 auto;
}

main.WB00255301_case #section_case #content::before {
    display: table;
    content: '';
}

main.WB00255301_case #section_case #content::after {
    display: table;
    clear: both;
    content: '';
}

main.WB00255301_case #section_case #content h3 {
    font-size: 24px;
    margin: 40px 0px 20px 0px;
}

main.WB00255301_case .txtbox {
    float: left;
    width: 480px;
    height: 310px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #CCC dotted 1px;
    margin-right: 10px;
}

main.WB00255301_case .txtbox .txtbox_L {
    float: left;
    width: 200px;
    height: 190px;
}

main.WB00255301_case .txtbox .txtbox_R {
    float: right;
    width: 270px;
    height: 190px;
}

main.WB00255301_case .txtbox .txtbox_R h4 {
    font-size: 18px;
    line-height: 1.6;
    color: #e93030;
    margin: 0px;
    padding: 0px;
}

main.WB00255301_case .txtbox .txtbox_R p {
    font-size: 16px;
    line-height: 22px;
    color: #101010;
    padding-bottom: 6px;
}

main.WB00255301_case .txtbox .profile {
    float: left;
    width: 470px;
}

main.WB00255301_case .txtbox .profile h5 {
    font-size: 15px;
    line-height: 1.6;
    color: #e93030;
}

main.WB00255301_case .txtbox .profile p {
    font-size: 15px;
    line-height: 21px;
    color: #101010;
}

main.WB00255301_case #button_R {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

main.WB00255301_case .btnR {
    float: left;
    font-size: 16px;
    font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
    width: 250px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 1px;
}

main.WB00255301_case .btnR a {
    display: block;
    color: #e93030;
    text-decoration: none;
    border: #e93030 solid 1px;
}

main.WB00255301_case .btnR a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #e93030;
    margin: 0 auto;
    border-bottom: #e93030 solid 1px;
}
