@charset "UTF-8";
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
main.WB002476_index #banner {
  position: relative;
  width: 100%;
  height: 470px;
  min-width: 1000px;
  font-size: 16px;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
}
main.WB002476_index #banner #bannerCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 470px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
main.WB002476_index #banner #bannerCon > div {
  width: 1920px;
  float: left;
  position: relative;
}
main.WB002476_index #banner h2 {
  position: relative;
  left: 0;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  height: 470px;
}
main.WB002476_index #banner .banner_01 {
  background: url(../images/banner_bg1.jpg) no-repeat center center;
}
main.WB002476_index #banner .banner_02 {
  background: url(../images/banner_bg2.jpg) no-repeat center center;
}
main.WB002476_index #banner #bannerOrder {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  height: 70px;
  background: url(../images/buttonBg.png) repeat-x top left;
}
main.WB002476_index #banner #bannerOrder > ul {
  width: 196px;
  height: 70px;
  padding-left: 806px;
  margin: 0 auto;
}
main.WB002476_index #banner #bannerOrder > ul > li {
  position: relative;
  width: 80px;
  height: 45px;
  float: left;
  margin-left: 10px;
  border: 4px solid #fff;
  cursor: pointer;
}
main.WB002476_index #banner #bannerOrder > ul > li.now {
  margin-top: -10px;
}
main.WB002476_index #banner #bannerOrder .bannerDes {
  position: absolute;
  top: -94px;
  left: -220px;
  padding: 10px;
  width: 285px;
  height: 70px;
  background: url(../images/bannerDes.png) no-repeat left top;
  display: none;
}
main.WB002476_index #banner #bannerOrder .bannerDes img {
  float: left;
}
main.WB002476_index #banner #bannerOrder .bannerDes p {
  float: right;
  margin-top: 5px;
  width: 215px;
  color: #fff;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: justify;
  line-height: 18px;
}
main.WB002476_index #banner #bannerOrder .bannerDes .bannerTitle {
  color: #ffc001;
  font-size: 13px;
  font-weight: bold;
}
main.WB002476_index .section1 {
  width: 100%;
  min-width: 1000px;
  height: 640px;
  background: url(../images/index01_bg.png) no-repeat center center;
}
main.WB002476_index .sectioncont {
  padding-top: 80px;
  width: 1000px;
  margin: 0 auto;
  font-family: "微軟正黑體", "新細明體";
}
main.WB002476_index h2 {
  font-size: 28px;
  margin: 0 0 50px;
  color: #fff;
}
main.WB002476_index .sectioncont p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
main.WB002476_index .sectioncont p span {
  display: block;
  font-size: 14px;
}
main.WB002476_index .section1 a {
  display: block;
  margin-top: 25px;
}
main.WB002476_index .section2 {
  width: 100%;
  min-width: 1000px;
  height: 700px;
  background: #fff;
}
main.WB002476_index .section2 h2,
main.WB002476_index .section3 h2 {
  color: #000;
}
main.WB002476_index .section2 p {
  float: left;
  width: 295px;
  color: #000;
  margin-left: 70px;
  margin-top: 50px;
}
main.WB002476_index .section2 img {
  float: right;
  margin-right: 75px;
  vertical-align: middle;
}
main.WB002476_index .section3 {
  width: 100%;
  min-width: 1000px;
  height: 502px;
  background: url(../images/index03_bg.png) no-repeat center center;
}
main.WB002476_index .section3 p.section3-p1 {
  width: 850px;
  color: #000;
  margin-left: 70px;
  margin-top: 70px;
  text-align: justify;
}
main.WB002476_index .section3 p.section3-p2 {
  color: #000;
  text-align: center;
  margin-top: 70px;
}
main.WB002476_index .section3 a {
  margin-top: 0;
}
main.WB002476_index .section4 {
  width: 100%;
  min-width: 1000px;
  height: 650px;
  background: #78c2c7;
}
main.WB002476_index .section4 h2 {
  margin: 0 0 5px;
  padding: 0;
  color: #000;
}
main.WB002476_index #wordTxt {
  background-color: #79c2c8;
  position: relative;
}
main.WB002476_index #wordAll {
  background-image: url(../images/words.png);
  background-repeat: no-repeat;
  background-position: left 283px;
  padding-top: 25px;
  /*overflow: hidden; */
  position: relative;
  height: 400px;
}
main.WB002476_index #wordAll .wordTxt {
  margin-left: 108px;
}
main.WB002476_index #wordAll p {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;
  margin-right: 25px;
  margin-bottom: 0px;
  width: 794px;
  color: #333;
}
main.WB002476_index #wordAll .name {
  padding-bottom: 10px;
  margin-bottom: 0;
}
main.WB002476_index #wordAll p.bgColorNo {
  background-color: #f5ffff;
}
main.WB002476_index #wordAll #word2 p {
  margin-bottom: 20px;
}
main.WB002476_index #wordAll .name {
  text-align: right;
  display: block;
  /*	margin-bottom: 10px; */
  /*background-color: #f5ffff;*/
}
main.WB002476_index #wordAll .name a:hover {
  color: #f60;
}
main.WB002476_index #wordAll .name a {
  text-align: right;
  color: #da2d2f;
}
main.WB002476_index #word1,
main.WB002476_index #word2 {
  position: absolute;
  top: 25px;
  left: 0px;
  display: none;
}
main.WB002476_index #word1 {
  display: block;
}
main.WB002476_index #change {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}
main.WB002476_index #page {
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;
}
main.WB002476_index #page > li {
  height: 30px;
  width: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  background-color: #f5fcff;
  color: #7bbeec;
  float: left;
  border-radius: 30px;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
main.WB002476_index #page > li:hover {
  background-color: #da2d2f;
  color: #fff;
  border-radius: 30px;
}
main.WB002476_index #page .pageNow {
  background-color: #da2d2f;
  color: #fff;
  border-radius: 30px;
}
main.WB002476_index #page > li::before {
  float: left;
  border-radius: 30px;
  border: 1px solid #cee7ec;
  position: absolute;
  padding: 3px;
  left: -4px;
  top: -4px;
  height: 30px;
  width: 30px;
  content: "";
}
main.WB002476_index #video {
  width: 960px;
  margin: 0 auto;
  font-family: "微軟正黑體", "新細明體";
}
main.WB002476_index #video h2 {
  color: #000;
  margin-top: 80px;
}
main.WB002476_index #videoTxt li {
  width: 300px;
  float: left;
  margin-right: 27px;
  text-align: center;
}
main.WB002476_index #videoTxt li p {
  font-size: 19px;
  margin-top: 15px;
}
main.WB002476_index #videoTxt {
  padding-bottom: 55px;
}
main.WB002476_index #videoTxt .caseDetail a:hover {
  color: #da2d2f;
}
main.WB002476_index #videoTxt .moreCaseP {
  margin: 60px auto 5px;
}
main.WB002476_index .bookRead {
  font-size: 17px;
}
